[2016-10-25 07:25] erhanleblebici opened #1 "change Xtext Grammar for well-typed attribute conditions"

[2016-10-25 07:26] erhanleblebici opened #2 "provide a TGG metamodel"

[2016-10-28 13:56] anthonyanjorin opened #5 "Create PSF with working sets and set of projects"
So we can use the normal eMoflon infrastructure to check out and build the workspace

[2016-10-28 13:58] anthonyanjorin opened #6 "Rename projects to ibex..."

[2016-10-28 14:00] anthonyanjorin commented on #6
@erhanleblebici Could you please list the projects to be renamed and what they should be renamed to?

[2016-10-28 14:08] erhanleblebici commented on #6
org.moflon.tgg.mosl must be replaced by org.emoflon.ibex.tgg.editor
I would keep the last segments the same

[2016-10-28 15:54] anthonyanjorin opened #8 "Create imports in generated pattern files"
For every pattern parameter that is an EClass, go up to its containing EPackage, and collect an import for it in a set (to avoid duplicates).  Maintain a unique label to access the package such as "pkg_i" with index variable i.

Generate for all collected imports import statements of the form:
`import <package_i uri> as pkg_i`

The type can then be referred to in the pattern as `pkg_i::TypeName`

[2016-10-28 16:13] anthonyanjorin opened #9 "Think of what to do for empty patterns"
A solution would be to generate `check(true);`

[2016-10-28 16:23] anthonyanjorin opened #10 "Clean up code and old implementation (of MOSL builders etc)"
This code should be simplified and restructured (still from the master's thesis!)

[2016-10-28 17:00] anthonyanjorin opened #11 "The ibex builder must make the project a valid Viatra project"
... by adding the required nature, builder, and the runtime plugin dependency.

[2016-10-28 17:00] anthonyanjorin opened #12 "add a README to our github project :)"

[2016-10-28 18:31] anthonyanjorin commented on #6
Fixed with #13

[2016-10-28 18:31] #6 closed, assigned to anthonyanjorin

[2016-10-28 18:31] anthonyanjorin commented on #10
Rethink the wizards

[2016-11-03 09:02] #11 closed, assigned to anthonyanjorin

[2016-11-03 09:02] #10 closed, assigned to anthonyanjorin

[2016-11-03 21:04] #8 closed, assigned to anthonyanjorin

[2016-11-04 19:47] erhanleblebici opened #18 "Generate Green Patterns (xtend code) for FWD, BWD, CC..."
... and later Modelgen.

In order to handle brute force and normal algorithm in a unified manner, please do not create EMF-edges in these patterns but just Edge-Objects. A procedure will then iterate over (chosen) edges and will invoke eSet.

Note that Source and Target of correpsondences are not edges anymore (as opposed to the old implementation). So you can directly set the source and target of

[2016-11-04 19:48] erhanleblebici opened #19 "Correspondence metamodel is not imported properly in pattern files"
at least not for this example: https://github.com/eMoflon/emoflon-ibex/files/572503/ibex.test.zip

[2016-11-05 15:52] anthonyanjorin commented on #19
Fixed with #20

[2016-11-05 15:53] #19 closed, assigned to anthonyanjorin

[2016-11-09 15:13] erhanleblebici opened #23 "import for ibex.runtime is missing in MANIFEST of a fresh integration project created via wizard"

[2016-11-09 15:57] erhanleblebici commented on #9
this has been fixed with the proposed solution

[2016-11-09 15:57] #9 closed, assigned to erhanleblebici

[2016-11-09 15:59] erhanleblebici opened #24 "Ensure that each parameter in a pattern signature is referenced in the pattern body at least once"
there will be compilation errors otherwise

[2016-11-09 16:01] erhanleblebici opened #25 "Generate type check patterns for green elements"
this won't be trivial as the current code generation for (negative) pattern invokations is not really designed for that

[2016-11-09 19:18] anthonyanjorin commented on #25
What do you mean exactly?  Why should this be problematic?

[2016-11-10 08:22] #23 closed, assigned to anthonyanjorin, erhanleblebici

[2016-11-16 09:58] erhanleblebici opened #30 "Generate java classes to run the transformation"
probably separate classes for FWD, BWD, CC, Modelgen, FWD_Synch, BWD_Synch

[2016-11-16 10:04] anthonyanjorin opened #31 "Automate Package registration"
For imports in the TGG editor of the form "platform:/resource/<project>/<pathToEcore>.ecore"
we can automatically generate code performing the registration of the ecore file as follows:

[code]

For all other imports we should generate a TODO for the user:
[code]

[2016-11-16 15:52] erhanleblebici opened #32 "Block ignore rule matches"
if a rule is ignored, e.g., in forward direction (it does not translate any source element), then its FWD matches must be blocked. The most simple strategy would be to generate **check(false)** into the respective pattern so that everything else is handled uniquely.

[2016-11-17 14:27] erhanleblebici opened #36 "One event per match is not really suitable for MODELGEN"
Incremental pattern matcher throws exactly one Event for each match. This is not suitable for MODELGEN as we can apply the same TGG rule only once on the same context.

A possible strategy would be to apply a rule immediately several times on the same context, perhaps with a random number generated within an intervall. We need to decide what would be useful and what do we want to provide. Then we

[2016-11-17 14:30] erhanleblebici commented on #18
this has been solved by programmatic model manipulation code, a sort of TGG interpreter for green parts

[2016-11-17 14:30] #18 closed, assigned to anthonyanjorin, erhanleblebici

[2016-11-17 14:31] erhanleblebici commented on #32
fixed with check(false)
let's see if it leads to noticable efficiency problems

[2016-11-17 14:31] #32 closed, assigned to erhanleblebici

[2016-11-17 14:32] erhanleblebici commented on #24
a trivial instanceof check is being peformed for each variable

[2016-11-17 14:32] #24 closed, assigned to erhanleblebici

[2016-11-22 10:14] anthonyanjorin opened #39 "Attributes (1): Extend current TGG example in our repo to include simple "in-place" attribute assignments and constraints"
Extend our current CDToDoc TGG with in-place attribute constraints, e.g., name == "foo" in a node, and attribute assignments, e.g., name := "foo" in a node.

Everything should still work, but these in-place attribute constraints and assignments will simply be ignored.

[2016-11-22 10:17] anthonyanjorin opened #40 "Attributes (2): Extend Editor-TGG to Internal-TGG transformation to handle in-place attribute constraints and assignments"
Extend the transformation so that all in-place attributes and constraints are transformed to our internal TGG model.

[2016-11-22 10:20] anthonyanjorin opened #41 "Attributes (3): Handle in-place attribute constraints and assignments in our compiler"
Extend the TGG compiler as follows:  (i) in each operationalisation, attribute assignments might have to be converted to constraints (if green becomes black). (ii) for in-place attribute constraints and assignments, corresponding parts of Viatra queries should be generated.  This should be possible as only constants (EDataTypes) are allowed on the right hand part of the expression.

[2016-11-22 10:40] anthonyanjorin opened #42 "Attributes (4): Extend example to contain an attribute CSP"
the CSP should contain eq, some other library constraints, and at least one user-defined attribute constraint.

[2016-11-22 10:41] anthonyanjorin opened #43 "Attributes (5): Extend Editor-TGG to internal TGG transformation to cover CSPs"
Extend the trafo so CSPs are also produced in our internal TGG models.

[2016-11-22 11:29] anthonyanjorin opened #44 "Attributes (6): Solve CSP and set values"
Extend handling of "green" parts of patterns (ask @erhanleblebici exactly which class does this) to first of all solve the CSP of the rule and then use the determined attribute values in the green parts.

Solving the CSP means:
1.  Sorting the constraints (ask @anthonyanjorin which classes can be taken from eMoflon).
2.  Generating some code to solve the constraints in this order (code generation

[2016-11-22 11:30] anthonyanjorin opened #45 "Attributes (7): Generate stubs for user-defined attribute constraints"
Generated stubs for user-defined attribute constraints according to required conventions (name and location).

[2016-11-23 14:49] erhanleblebici opened #47 "Use Gurobi Java-API directly for ILP solving"
...as the currently used java-LP doesn't work for Mac

[2016-11-25 14:34] #36 closed, assigned to anthonyanjorin, erhanleblebici

[2016-11-28 11:59] erhanleblebici commented on #30
fixed

[2016-11-28 11:59] #30 closed, assigned to erhanleblebici

[2016-11-30 15:24] Arikae commented on #39
All done

[2016-11-30 15:24] #39 closed, assigned to Arikae

[2016-11-30 15:25] Arikae commented on #40
All done.
Note that AttributeExpressions and EnumExpressions are still not implemented

[2016-11-30 15:25] #40 closed, assigned to Arikae

[2016-11-30 18:43] #12 closed, assigned to erhanleblebici

[2016-11-30 18:44] anthonyanjorin commented on #25
Is this still open?

[2016-12-01 14:56] erhanleblebici commented on #25
yes still open. Either the pattern matcher provides a language construct in the future, or we have to generate complex patterns which check type of an object like **(obj instanceof Subtyp1) or (obj instance of Subtyp2) or.....** and negatively invoke it

[2016-12-01 15:15] erhanleblebici opened #64 "find out what takes so long in builder"
my impression is that we build multiple times. This can be investigated with profiling where the number of method invocations are counted

[2016-12-01 16:04] anthonyanjorin commented on #64
I think I've solved this problem (at least the multiple building).  I have to check if I've pushed the changes yet.

[2016-12-01 16:57] Arikae commented on #64
Great news. What was the problem?

[2016-12-01 18:57] anthonyanjorin commented on #25
ok, I'm for generating such NACs

[2016-12-01 20:11] anthonyanjorin commented on #64
Idiotic logic in the builder (my fault).  I've merged in a fix.  Please try it out.  My experiments revealed (unfortunately) that things haven't gotten much better.  At least we now only build exactly once, and don't react to files in /bin.   A further attempt could be to check if the newly generated files are actually different from what is already there -- and if not then *not* to save unnecessa

[2016-12-02 07:49] erhanleblebici opened #66 "Design and implement support for NACs"
emoflon.ibex currently doesn't support NACs. There are some open decisions before starting the implementation work:

- Do we only support NACs with one node/edge as it was the case before? Or we support complex NACs that go beyond single nodes/edges? Do we plan to support nested NACs?

- If we support complex (and perhaps nested NACs): How should the textual syntax look like? What about backward c

[2016-12-02 08:23] erhanleblebici opened #67 "Design and implement support for refinements"
There are plans to support refinements by pattern invocation. I see two alternatives here:

Alternative 1: Additional restrictions on refinements: no overriding of nodes in refining rules but only enlarging the rule pattern is allowed. Then the refined rule is simply a subpattern of the refining rule.

Alternative 2: pattern invocation only on parts that are not overridden. This requires a detecti

[2016-12-02 08:34] erhanleblebici commented on #66
After a discussion with @anthonyanjorin, following decisions seem to be plausible:

- Short term: we support only one node/edge NACs so that we at least can reuse existing TGGs for testing. (Then this issue will be closed)

- Long term: we provide a constraint language and a static analysis for "generating" NACs (and PACs?) that enforce the constraints. Constraint enforcing NACs/PACs are the only

[2016-12-02 08:40] erhanleblebici opened #68 "Use package aliases (dep_i) in generated patterns"
otherwise name clashes between source and target classes will be a problem in generated patterns

[2016-12-02 08:57] erhanleblebici commented on #64
even if our builder logic is improved, there are something which still takes too long. I reopen the issue :(

[2016-12-02 10:12] #68 closed, assigned to erhanleblebici

[2016-12-02 12:45] anthonyanjorin opened #70 "Documentation: Write a brief JavaDoc for each class..."
with an explanation of the primary responsibilities of the class (and other classes it collaborates closely with).

[2016-12-02 13:02] anthonyanjorin commented on #44
Some details:

1.  `TGGRuntimeUtil::processOperationalRuleMatch` seems the right place to which to add csp solving
2.  I would suggest simply adding an invocation `solveCSP()` that returns a data structure with the result (fulfilled/violated) and a map of variables to their determined values.  This result should then be passed on to the ManipulationUtil used to create nodes later in this method.

[2016-12-02 13:04] anthonyanjorin opened #71 "Refactoring: Avoid static methods"
for example in utils such as `ManipulationUtil`.  In general, avoiding static methods entirely is a good idea to simplify the code.  In `ManipulationUtil`, for example, introducing state set by the constructor could significantly reduce the number of arguments that have to be passed into all the methods.

[2016-12-02 13:33] anthonyanjorin commented on #44
3.   We need a `register` method in our stub, where we map implementations of constraints to the constraints used in rules.

[2016-12-02 22:57] anthonyanjorin commented on #64
Next attempt...  this should be a huge improvement.  Sometime in the future we will have to decompose our single Xtend file.  It simply will not scale for many tgg rules...

[2016-12-02 22:57] #64 closed, assigned to Arikae, anthonyanjorin

[2016-12-02 23:01] anthonyanjorin opened #76 "Migrate all Test tggs to ibex"
We should soon start trying to migrate Test tggs to ibex (so we can avoid regressions).

Even though we are still missing refinements and NACs,  some tggs might already work as soon as we have implemented CSPs...

I also suggest we use the new benchmarx framework for our tests.

[2016-12-02 23:13] anthonyanjorin opened #77 "Visualisation Framework for Ibex"
Reengineer and reimplement visualisations for all relevant models in ibex.  Perhaps even for .ecore, .vql and anything else we want to work productively with.

It would be nice to use this as a first bootstrap with ibex for ibex, and make first experiences how the new framework performs in a deployed context.

[2016-12-05 09:36] erhanleblebici commented on #43
attribute constraint definitions in the editor model do not seem to be correct. Do we have a parser problem here? Below, there is an example for eq: Parameters without type and adornmets with value "["

    <attributeCondDefs name="eq">
      <params/>
      <params index="1"/>
      <allowedSyncAdornments>
        <value>[</value>
      </allowedSyncAdornments>
      <allowedSyncAdornments>

[2016-12-05 10:56] anthonyanjorin commented on #43
Found the typo in the .xtext grammar, I'm on it...

[2016-12-05 11:10] anthonyanjorin commented on #43
Done

[2016-12-05 13:40] Arikae commented on #41
Done

[2016-12-05 13:40] #41 closed, assigned to Arikae

[2016-12-05 22:16] Arikae commented on #42
Done

[2016-12-05 22:16] #42 closed, assigned to Arikae

[2016-12-07 16:20] erhanleblebici opened #79 "Redesign the naming of pattern variables for attributes"
Currently, pattern variables for attributes are named like:
node.name + "_" + attrExpr.attribute.name in PatternTemplate.xtend

Two things are to do:

1) Extract this naming to a helper method (see, for example, EdgePatternNaming.java) as we can only control our name conventions if we centralize them.

2) change the naming such that it is more unlikely to come to clashes.
@anthonyanjorin how can w

[2016-12-08 01:15] Arikae commented on #43
Done but some errors remain from previous implementation attempts (02.12.2016 by Tony)

[2016-12-08 01:15] #43 closed, assigned to Arikae

[2016-12-08 08:02] anthonyanjorin commented on #79
I think adding a prefix `__`and suffix `__` is enough.  This can also be added a simple validation rule in the editor.

[2016-12-08 08:10] erhanleblebici commented on #79
prefix _ cannot be added as it has a meaning for the pattern matcher (_ prefix means you have a 'don't care' variable which does not belong to the signature of the pattern).

We can simply add a __ suffix and forbid it in the editor

[2016-12-08 08:58] anthonyanjorin commented on #79
damn ;)  So we need a validation rule forbidding names starting with `_` and ending with `_` (or `__`).
I think users can live with that...

[2016-12-08 11:07] #47 closed, assigned to erhanleblebici

[2016-12-08 13:39] erhanleblebici opened #84 "Forbid "_" as suffix or prefix for object variables in the editor"
... as pattern matcher and our backend use the prefix and suffix convention with "_" for different purposes.

TODO is to write a validation rule.

[2016-12-08 14:13] erhanleblebici commented on #25
implementing this in manipulation code (i.e., rejecting a match if type check fails) is much more easier (I think only one line) than generating patterns.

[2016-12-08 14:20] anthonyanjorin commented on #25
Ahh - because this is all "interpreted" right?  Yes, that is probably true (but the wrong matches will still be collected, maybe we could check the impact of this in a BA or similar).

[2016-12-09 08:37] #25 closed, assigned to nobody

[2016-12-09 14:21] Arikae opened #87 "Modify CSPs to use variables field instead of parameters"

[2016-12-11 15:07] erhanleblebici opened #88 "Implement type specific eq constraints"
... like eq_string, eq_int, eq_double, eq_boolean.... The generic eq constraint as we had so far does not suit well to the rest.

TODO is:

- Remove Eq.java
- remove the eq decleration when generating AttrCondDefLibrary.tgg
- Implement java classes of new type-specific constraints (like Eq_string.java)
- ensure that the new constraints are generated into AttrCondDefLibrary.tgg
- fix our only test

[2016-12-11 16:32] Arikae commented on #88
Done

[2016-12-11 16:32] #88 closed, assigned to Arikae

[2016-12-12 10:43] Arikae commented on #44
Done but TempVariables still remain unsolved. Seems like we have to kill the Democles dependency for creating a CSPSearchPlan to resolve this issue -> Future Work

[2016-12-12 10:43] #44 closed, assigned to Arikae

[2016-12-13 14:44] erhanleblebici commented on #87
is this still relevant?

[2016-12-15 08:50] Arikae commented on #45
Done

[2016-12-15 08:50] #45 closed, assigned to Arikae

[2016-12-15 08:51] Arikae commented on #87
Seems not. May have become irrelevant or even fixed.

[2016-12-15 08:51] #87 closed, assigned to Arikae

[2016-12-15 09:11] Arikae commented on #67
Hmmm I have some problems understanding this. Why don't we just do it as in the old version?
Put everything together into one rule where black dominates green and then do the same as we did so far with all other patterns? Am I missing something?

[2016-12-15 09:21] anthonyanjorin commented on #67
we don't want to flatten anymore -- so refinements should be mirrored directly in the patterns if possible.

[2016-12-15 19:21] anthonyanjorin opened #92 "Remove ibex.tgg.core.runtime from project dependencies added by new project wizard"

[2016-12-15 19:22] #92 closed, assigned to erhanleblebici

[2016-12-15 19:27] anthonyanjorin opened #93 "Creating a new project leads to the following error"
``The constructor FWD(TGG, Resource, Resource, Resource, Resource) is undefined``in the generated ``Application.java``.

[2016-12-15 19:32] anthonyanjorin opened #94 "Can this be shortened? Looks awful in code..."
``org.emoflon.ibex.tgg.operational.csp.constraints.factories.UserDefinedRuntimeTGGAttrConstraintFactory``

[2016-12-15 20:06] anthonyanjorin opened #95 "Use helpful constants for strings generated in Application.java"
Would be very nice to generate constants that one can just adjust at the beginning of the file for all the strings generated in Application.java

[2016-12-15 20:08] anthonyanjorin commented on #95
``CDToDoc`` is currently generated hard-coded in every Application.java :)

[2016-12-16 09:05] erhanleblebici commented on #94
@Arikae Can you consider to register user defined constraints to our factory instead of providing new classes and constructor parameters?
For example: tggRuntimeUtil.getConstraintFactory().register("MyConstraint", MyConstraint.class)

[2016-12-16 09:08] erhanleblebici commented on #93
@Arikae this is related to #94 (we should avoid new constructor parameter which propagates itself througout the inheritance hierarchy).
before fixing the Application.java template,  can you comment on my suggestion in #94 ?

[2016-12-16 13:13] anthonyanjorin opened #96 "Currently unable to build FamiliesToPersonsDeterministic in branch startingWithTests"
Due to a concurrent modification exception.    I think this has something to do with the fact that I have a TGG rule only in one domain (an ignore rule).

[2016-12-20 02:10] Arikae commented on #94
Done

[2016-12-20 02:10] #94 closed, assigned to Arikae

[2016-12-20 02:11] Arikae commented on #93
Should be fixed

[2016-12-20 02:11] #93 closed, assigned to Arikae

[2016-12-20 02:12] Arikae commented on #95
Can  we remove Application.java? -> b31ab4c

[2016-12-20 07:05] anthonyanjorin commented on #96
I think the tgg Editor to tgg internal model transformation must be extended to handle such cases

[2016-12-21 08:09] anthonyanjorin opened #98 "Avoid generating code to speed up build times"
Viatra can be used without generating code from the .vql files
For our use case we do not require this generated code and should avoid this completely (I'm not quite sure how to do this yet).

If build times are still intolerable, we should also avoid generating any .xtend files and just generate Java code directly.

[2017-01-22 17:17] anthonyanjorin commented on #96
@Arikae @erhanleblebici any plans to fix this?  I can't continue with testing

[2017-01-27 14:30] erhanleblebici commented on #96
build problems are fixed. please start a new branch from master for testing. FamiliesToPersons is now involved in master (and needed to be fixed as well due to new interfaces of runnable classes)

[2017-01-27 14:30] #96 closed, assigned to Arikae, erhanleblebici

[2017-01-27 14:36] erhanleblebici opened #102 "the new DEC concept"

[2017-02-02 14:54] anthonyanjorin opened #104 "Democles Demo"
Hi @gervarro,

after spending a few hours trying to understand the trainbenchmark (and getting the incr. PM to run for my example based on it) I've basically given up.

I've started a minimal example here:  [https://github.com/eMoflon/emoflon-ibex/tree/democlesTrial](url) and have added some todos for you.

Basically, all I want to understand for the moment is the initialisation code required to g

[2017-02-02 14:54] anthonyanjorin commented on #104
FYI @erhanleblebici

[2017-02-02 15:58] Arikae opened #105 "DEC - handle multiple entry points"
Currently what we do when we generate DECs is to search for a possible dangling edge.
Given that we found such, we check if there is some other rule application that is still able to translate it given that we apply the current rule.
The problem is now that there is not necessarily just one possible candidate edge in another rule but possibly many of them.
The question is now what to do with them.

[2017-02-02 16:05] anthonyanjorin commented on #105
Err...  you have to check all candidates right?

If all of them can be ruled out statically then you generate a DEC NAC just like today, if not you generate an application condition that checks for at least one of the required conditions for the determined candidates.

I don't understand the problem (what this issue discusses) :)

And what does this have to do with entry points?

[2017-02-02 17:48] gervarro commented on #104
I uploaded a first version of the requested code, although there are some issues that we should clarify regarding the example.
- I have not found any generated metamodels, only the corresponding ecore files.
- An EMF-based pattern specification can be constructed on the fly. (It does not have to be saved into a file.) When all the Democles pattern matchers are constructed, the EMF-based pattern sp

[2017-02-02 18:14] anthonyanjorin commented on #104
Great!

- Yes, I planned to use only .ecore files for the example (although I expect to be able to register generated code if this is preferred without changing anything).  Being flexible in this regard would be great (so the end user should take over adjusting registration as required).

- OK, that's cool -- so we only need to persist the patterns debug mode

- OK, that makes sense -- felt pretty

[2017-02-02 19:15] RolandKluge commented on #104
@gervarro Thanks also from my side for providing a minimal working example. Currently, I am evaluating a little the integration of Democles-Interpreter with the Simonstrator (in comparison to the code generated by eMoflon and the dumb Simonstrator pattern matcher). A next step would be to also integrate Democles-Incremental.

[2017-02-02 19:16] anthonyanjorin commented on #104
Hi Greg,

I have now completed all TODOs and got the code running...   but the handleEvent method is not being called :(

What could be the problem?  I expect a single match for the trivial pattern and model.

Thanks,
Tony

[2017-02-02 19:21] anthonyanjorin commented on #104
ok the URI in the pattern might be the problem....

[2017-02-02 19:27] anthonyanjorin commented on #104
ok, I've fixed all URIs now (in model and pattern).  Still no events :(

Any ideas @gervarro ?

[2017-02-02 22:17] gervarro commented on #104
I have just updated the demo code (at 22:15). I set a breakpoint in the new code in the handleEvent method, and the match was found. (It was probably not a good idea from me to use 2 resource sets in the original code.)

[2017-02-02 22:35] gervarro commented on #104
@anthonyanjorin @RolandKluge One important additional info if you want to debug / get an overview what is going on in the pattern matcher. The `IncrementalUpdateSession` class contains 3 methods where you can analyze the overall behaviour.

1. `appendToHistory`: Enqueues / collects notifications arriving from the (not necessarily EMF-based) model. No processing takes place yet.
2. `call`: Main ent

[2017-02-02 22:38] gervarro commented on #104
The engine can already handle reflective models without any problems/changes.

[2017-02-03 10:43] Arikae commented on #105
Well if you have some application condition then you have to generate those calls for each possible combination of your entry point (which is the to-be-translated node which is connected to the dangling edge). That is something we might wanna do in the future but for the moment this should suffice.
The idea is that we keep this in mind but since there is a huge optimization potential, we want to g

[2017-02-03 10:51] anthonyanjorin commented on #105
I'm not sure if it is helpful to think in terms of "entry points".

Currently, I see things in terms of patterns like this:

If a certain rule is to be applied (we don't have any entry points really), then a certain *set* of potential dangling points can be determined for the rule application.

For all dangling edges in this set, all candidates for translating the dangling edges should be determin

[2017-02-03 10:51] anthonyanjorin commented on #105
FYI @erhanleblebici

[2017-02-03 14:48] Arikae commented on #105
Maybe we both have a different understanding of what an entry point is. For me an entry point is a node which gets translated in my current rule. Given this node, I try to find an edge that would remain untranslated. If I find such an edge, I take the "entry point" as well the opposite node of the edge that I just found and insert it into the patterns which could possibly translate my edge. What w

[2017-02-03 15:02] anthonyanjorin commented on #104
Thanks, Greg.

My problem now is understanding the match life cycle.

What I want to do is call ```performIncrementalUpdates()```, act on all determined matches in ```handleEvent```, and then call ```performIncrementalUpdates()``` again to obtain the next round of events, etc.

The problem I am having now is that I seem to be getting all the old matches I have already handled over and over again :

[2017-02-03 15:10] anthonyanjorin commented on #104
(seems to have been my error, I have to check this again)

[2017-02-03 15:33] anthonyanjorin commented on #104
IT'S WORKING!!! YEAAAHH 👍

[2017-02-03 16:03] gervarro commented on #104
Notification events arriving from the model are blocked/collected on the input side of the Rete network.
`performIncrementalUpdates()` enforces the Rete network to actually process the notifications arriving from the model (since the last invocation of the `performIncrementalUpdates()` call). The consequent changes in the match set are sent to the attached `handleEvent()` method. When all the noti

[2017-02-03 16:41] anthonyanjorin commented on #104
Another question:  I have used insert events up until now.  As far as I can see you also have delete events.  How about updates?  I.e. something changed in the match but it is still valid?  Or is that a delete+insert?

[2017-02-03 23:55] gervarro commented on #104
An update is internally a delete + insert (as that is the way how events come from EMF), which cannot be noticed externally (no match events), if the match set does not change (considering only the values assigned to the formal parameters of the pattern). At least this would be the intended behaviour.

[2017-02-08 13:06] Arikae commented on #102
Probably done but needs testing

[2017-02-08 13:06] #102 closed, assigned to Arikae

[2017-02-08 13:10] Arikae commented on #95
Probably finished since we generate those files now

[2017-02-08 13:10] #95 closed, assigned to erhanleblebici

[2017-02-08 13:11] Arikae commented on #31
Already done in #95

[2017-02-08 13:11] #31 closed, assigned to nobody

[2017-02-09 17:27] anthonyanjorin commented on #104
Hi Greg,

Where exactly did you commit this target definition file?  I can't find it :(

thanks,
Tony

[2017-02-09 21:35] gervarro commented on #104
Hi Tony,

[https://github.com/eMoflon/emoflon-ibex/blob/democlesTrial/org.emoflon.ibex.tgg.tests/DemoclesTrial/SimpleFamiliesToPersons/democles.target](https://github.com/eMoflon/emoflon-ibex/blob/democlesTrial/org.emoflon.ibex.tgg.tests/DemoclesTrial/SimpleFamiliesToPersons/democles.target)

Eclipse should automatically import/find the target file when you open preferences, although I am not sure

[2017-02-13 23:03] anthonyanjorin commented on #104
Hi Greg,

do you think Democles can handle completely empty pattern bodies?  This might sound like a silly question but since we systematically generate a network of patterns, in many cases, some of them are simply empty.  E.g., if a rule is an axiom (everything is green) then SRC_CONTEXT is an empty pattern, which is, however, still invoked from other patterns as usual.

At the moment, I am getti

[2017-02-14 11:48] anthonyanjorin commented on #104
Hi,

I have now filled such empty patterns with a trivial EQ(0,0) constraint.

The error I am now getting is:

[code]

The NPE is flying here:
[code]

[2017-02-14 13:28] anthonyanjorin commented on #104
ok the problem was because I had trivial pattern invocations.  So pattern invocations where I was not passing on any variables.  I have removed them now.

[2017-02-14 13:29] anthonyanjorin commented on #104
A problem we have to discuss is how best to handle TGG axioms, i.e., trivial matches that have no context at all (I have the feeling that Democles does not produce any match events at the moment).

[2017-02-14 14:26] anthonyanjorin commented on #104
I'm still having problems with pattern invocations.  They seem fine for me but I keep getting "no handler exists"...

After stripping down all patterns to an almost trivial version I'm getting
[code]

and I don't have any sources to debug.

[2017-02-14 15:29] anthonyanjorin commented on #104
@gervarro: I have now created a minimal isolated example (attached as a zip below).
You can open the project in an Eclipse installation with eMoflon (also without if you create the resourceSet directly) and Democles.

[democlesTest.zip](https://github.com/eMoflon/emoflon-ibex/files/774516/democlesTest.zip)

The democles pattern file is under DemoclesTest/patterns.xmi and is really very basic.

The

[2017-02-14 16:36] gervarro commented on #104
Hi Tony,

Before you dig into the details... I have never tested empty pattern bodies. A general question: What would be the expected behaviour? What does the interface of an empty pattern look like? How is an empty pattern "invoked", and what is the expected result? What kind of matches should it produce, if it has no content?

It is most probably a bug as I have never experimented with empty pat

[2017-02-14 16:44] anthonyanjorin commented on #104
ok, thanks!  The example is probably something else (RuntimeException with notifications or similar), but I can then send you updates with generated patterns.  I think exchanging this simple demo project is the best way to experiment for the moment.

yes, empty patterns are pretty silly if they are directly specified, but when generating things systematically, they do pop up quite often.

I would

[2017-02-14 16:57] erhanleblebici commented on #104
Yes, I agree with "empty interface and passing nothing in case of invoking empty patterns" @anthonyanjorin
I would expect that an empty pattern matches trivially, and its occurence is fired only once.

I can actually understand that it does not make any sense to define empty bodies. An empty pattern could perhaps have a trivial constraint (that is always satisfied) in the pattern body, and no inte

[2017-02-14 17:38] gervarro commented on #104
Cannot one suppress empty patterns during the pattern generation when they are so easily identifiable (pattern without interface variables and constraints)?

The runtime problem is probably a 'nice' and well-known proxy issue again.

[2017-02-14 17:41] gervarro commented on #104
Would it be an acceptable solution if the Democles pattern builder automatically eliminated the empty patterns? Or do you really need matches from empty patterns?

[2017-02-14 18:06] anthonyanjorin commented on #104
Yes, I think it'll be best if we handle empty patterns explicitly ourselves.

We'll have to handle the fact that these rules are applicable, but it's more flexible to do this for each scenario in a suitable way.

[2017-02-14 18:07] anthonyanjorin commented on #104
Do you agree @erhanleblebici?  Doesn't seem to make sense to push this to the PM or hack a "trivial" constraint.  For the model generator these matches should come again and again (and so we would have some handling any way)...

[2017-02-14 18:09] gervarro commented on #104
Hi Tony,

there were actually two EMF related problems in the code
- Metamodels were incorrectly loaded.
- The EMF based pattern resource was removed too early in the process (before the metamodel references could have been resolved). `rs.getResources().remove(patternResource)` must be invoked after `patternBuilder.build()`

Hint: it is never a good idea to reorganize my EMF initialization code. ;

[2017-02-14 18:23] anthonyanjorin commented on #104
@gervarro:  Note that the current problem with the example has nothing to do with empty patterns as I had already weeded them out (at least I believe so :))

[2017-02-14 18:29] anthonyanjorin commented on #104
Hmm...  interesting.  The actual code I'm working on does not load the patterns but generates them directly.  And I got the same exception (at least from the same module and line in code).

Could you just export the project as a zip and upload it here?  I'll share a checked in project with you next time.

Btw:  is the source code for the plugin available?  I could have debugged and probably guesse

[2017-02-14 23:38] gervarro commented on #104
The pattern matcher relies on the package registry located at `resourceSet.getEPackageRegistry()` to look up metamodel elements. If the metamodel element cannot be found (or collide with another metamodel), then the pattern matcher will be unable to create operations.

Yes. Here it is [CorrectedDemoclesTest.zip](https://github.com/eMoflon/emoflon-ibex/files/775583/CorrectedDemoclesTest.zip)

[2017-02-15 17:48] anthonyanjorin commented on #104
Hi Greg,

I'm making some progress!  I am now getting events for flat patterns without pattern invocation.

As soon as I add pattern invocation, however, I get the following error:

[code]

You can find a folder with a folder with the pattern file and a subfolder with all referenced metamodels here:
[FamiliesToPersonsDeterministic.zip](https://github.com/eMoflon/emoflon-ibex/files/777914/FamiliesT

[2017-02-15 22:29] gervarro commented on #104
Hi Tony,

This is not a misunderstanding. The pattern invocation constructs are OK. This is a bug. I forgot to implement one method of two that should configure positive pattern invocations. I have to check whether it is easy to fix or not.

Bests,
Greg

[2017-02-16 07:12] #98 closed, assigned to erhanleblebici

[2017-02-20 08:17] gervarro commented on #104
Hi Tony,

The bug has been fixed. You can download the latest fixed version from the Democles update site.
While experimenting for fixing the bug, I noticed that I should call your attention to the extremely strict nature of the EMF notification processing layer, which throws `RuntimeException` immediately if the resource set is inconsistent. Before installing the notification adapter, it should a

[2017-02-21 19:44] anthonyanjorin commented on #104
Hi Greg,

thanks for the fix.  Now I can run the code with patterns using pattern invocation.  Strangely enough though, I am getting the events for normal matches (in the example ending with _CONTEXT), but _not_ for the pattern (ending with _MODELGEN), which uses pattern invocation (same zip as before).

This is confusing because all three matches are found, and the last match that simply invokes

[2017-02-22 09:27] gervarro commented on #104
Hi Tony,

could you please include a model in the zip file? (If I remember correctly the zip file only contains metamodels and patterns.) I will analyze what can go wrong.

Bests,
Greg

[2017-02-22 10:30] anthonyanjorin commented on #104
Hi Greg,

with these models, I get matches for all context patterns, but also expect to get one match for the MODELGEN pattern:

[models.zip](https://github.com/eMoflon/emoflon-ibex/files/793019/models.zip)

Cheers,
Tony

[2017-02-26 07:01] anthonyanjorin commented on #104
Hi Greg,

Is there anything else I can provide?  Is the problem again on my side (setup, etc), or is it reproducible?

Thanks,
Tony

[2017-02-27 09:21] gervarro commented on #104
Hi Tony,

I am sorry for the delay, but I had an extreme busy period last week at work, and I did not have time to have a look at the situation. The busy period is tomorrow hopefully over, and I can work on the pattern matcher again.

Bests,
Greg

[2017-02-28 23:21] gervarro commented on #104
Hi Tony,

I forgot to wire pattern invocations at one location when the Rete network is constructed. A quick fix that constructs a correct network for this simple setup is already available on the two update sites, however, I just recognized that an additional (pattern specification) analysis algorithm might be more urgently needed than I originally expected to provide a really fail-safe solution.

[2017-03-01 06:44] anthonyanjorin commented on #104
Ok thanks - if I understand correctly:

- I should update
- then sort the patterns as you describe

I'll give that a shot!

Cheers,
Tony

[2017-03-01 22:09] anthonyanjorin commented on #104
Hi Greg,

Next problem.  When applying a rule (I'm now getting all expected matches) and manipulating the models, I'm now getting the following exception:

[code]

Unfortunately I don't have the code so I can't check what exactly is causing the exception.  The  resource set only contains the models being manipulated, and I made sure that ```performIncrementalUpdates``` is not invoked while handlin

[2017-03-01 22:30] anthonyanjorin commented on #104
Some more info:

The edge (FamilyRegister ---families--->Family) is a containment edge, and is being created via EMF reflection (no generated code).  This might be a tricky situation as the contained node remains in the resource (EMF is sort of strange here).

[2017-03-02 14:34] gervarro commented on #104
Hi Tony,

EMF is sort of buggy here (more precisely at line 1303 in the `org.eclipse.emf.ecore.impl.BasicEObjectImpl.eBasicSetContainer(InternalEObject newContainer, int newContainerFeatureID, NotificationChain msgs)` method. Fred already reported some strange behaviour 5-6 years ago, when you move an object that is directly contained in a resource to another location in the containment hierarchy,

[2017-03-02 15:01] anthonyanjorin commented on #104
Is there some way we can try to avoid this?  How should we create new nodes and then add them to a container?  In general we cannot avoid what is happening right now but I could try to avoid it as much as possible...

[2017-03-02 20:51] gervarro commented on #104
The problem in the buggy case is that the newly created `EObject` is already contained by a `Resource`, and the removal is not handled correctly.

The best (most reliable) programmatic way is to look up the `EPackage` in the package registry of the `ResourceSet`, then to query the `EFactory` instance and to invoke the `create` method with the `EClass` you want to instantiate. At this point, the ne

[2017-03-02 20:56] gervarro commented on #104
One more thing: EMF handles those cases rather unreliably (from an incremental point of view) when you simply set the container of an `EObject`. EMF produces different sets of notifications depending on whether you trigger the same insertion / container edge creation at the parent (container) or at the child (contained node) :wink:.

[2017-03-02 21:17] anthonyanjorin commented on #104
Thanks, Greg.

We'll try to think of a way of avoiding this.  For example a temporary container should be feasible.  That way we could avoid placing objects directly in a resource, and if a real parent is set later the object should hop out of the temp container automatically.

At the end of the process the temp container should have in most cases  exactly one root.  If it has multiple roots then

[2017-03-03 00:23] gervarro commented on #104
Done (objects are now moved from the resource to the new container in a correct way). Fix available on the advanced update site.

[2017-03-03 07:23] anthonyanjorin commented on #104
Great!  Our model generator seems to be working perfectly now (for my simple example).

I think it's time to close this issue (Democles integration).

I can start working on the other scenarios (sync).

Cheers and thanks for the fast fixes,
Tony

[2017-03-03 07:23] #104 closed, assigned to gervarro

[2017-03-03 23:03] anthonyanjorin opened #108 "Sync with Democles"
Hi Greg,

I'm now slowly working on synchronisation...

Currently, I have the problem that I seem to be receiving multiple events for essentially the same match.  Every time the handleEvent method is invoked, the ```MatchEvent``` is different but its ```DataFrame``` retrieved via ```event.getMatching()``` is exactly the same object.

Any ideas why this is happening?  Is such behaviour expected or

[2017-03-04 10:35] gervarro commented on #108
Hi Tony,

No, such a behaviour would be wrong.

First thing to clarify. A `MatchEvent` is a triple consisting of the match itself, the producing pattern, and the delta type. If you have a central location for processing matches (i.e., one `MatchEventListener` is attached to all the patterns (`RetePattern`)), then **all** patterns (`RetePattern`) report to the same location, which means that you mi

[2017-03-05 18:48] anthonyanjorin commented on #108
Hi Greg,

I have now checked everything carefully.  For the simple example (attached), I get four times a match event for ```HandleRegisters_FWD``` with exactly the same type (insert), the same producing pattern, and the same match (DataFrame).

Even though the patterns are fairly trivial and the pattern invocation is silly, I still expect to receive only one match for ```HandleRegisters_FWD```.

[2017-03-06 09:31] gervarro commented on #108
Hi Tony,

I checked the situation, and it is a bug caused by two issues. Some initialization is still missing in case of pattern invocations, which is the main source of the erroneous behaviour. However, I additionally noticed that the analysis module should also be implemented ASAP to provide a reliable behaviour in the TGG setup. Currently, I am not sure that the first fix alone is enough. I can

[2017-03-06 10:33] anthonyanjorin commented on #108
Hi Greg,

thanks for trying it out.

I'll try to continue working with whatever fixes you can offer.  If the first fix goes fast then I'll gratefully take it and see how far I get :)  I have a good student starting his Master thesis on Ibex which is why I'm trying to give gas at the moment.  I'm pretty sure the model generator should be enough for the first few weeks though.

Cheers,
Tony

[2017-03-07 11:51] Arikae opened #110 "OR invocation in Democles"
Is it possible to have a pattern construct in democles where the invocations are combined using OR instead of AND? As far as I know, I could implement it myself, although I'm not sure if that would be unproblematic. The question is if such a construct already exists.

[2017-03-07 14:51] anthonyanjorin commented on #110
@gervarro:  is this perhaps the reason why a pattern can have multiple bodies?  Are all bodies ored to check if the pattern matches?

We couldn't find such an example in the train benchmark...

[2017-03-07 14:52] #77 closed, assigned to Arikae

[2017-03-07 14:52] #84 closed, assigned to anthonyanjorin

[2017-03-07 14:53] anthonyanjorin commented on #5
We need to integrate ibex back into eMoflon when we are ready for a first release.  I'll close this issue for now (we do have simple PSFs for the moment).

[2017-03-07 14:53] #5 closed, assigned to erhanleblebici

[2017-03-07 14:54] #79 closed, assigned to Arikae

[2017-03-08 23:32] gervarro commented on #110
Yes. This is exactly the reason.

No surprise. This has been a completely untested / unused feature, so do not be surprised if you find bugs, although it is rather easy to support the concept (compared to pattern invocation and the like).

[2017-03-09 13:42] #70 closed, assigned to erhanleblebici

[2017-03-09 13:42] #71 closed, assigned to erhanleblebici

[2017-03-09 13:42] #110 closed, assigned to gervarro

[2017-03-09 13:44] anthonyanjorin opened #112 "Extend TGG vis to cover inline attribute conditions / CSPs"
With CSPs note that constraints can be quite long. I would either reduce this to a fixed length with ... at the ending, or perhaps add line breaks automatically.

[2017-03-09 14:52] erhanleblebici opened #113 "Allow CSPs with Enums"
**Editor Tasks:**

- specifying user-defined CSPs with Enum Parameters. For example

#userDefined myCustomCSP(a: EString, b: MyEnumType)

- using Enum-Literals as Constants when invoking such CSPs in TGG rules. For example

myCustomCPS(foo.name, enum::MyEnumType::MyLiteral)

**Compiler Tasks:**
Make sure that such CSPs in the editor are transformed to the TGG model and considered in TGG compiler a

[2017-03-10 11:12] #113 closed, assigned to Arikae, anthonyanjorin

[2017-03-11 12:47] anthonyanjorin commented on #112
Not really sure if we want this at all...  the vis could just be an additional (and incomplete) view

[2017-03-11 12:49] anthonyanjorin commented on #66
Not sure if we want this.  We have to migrate existing tggs manually anyway.  We could delete all NACs in the process.  I have the feeling that almost all NACs currently in usage can be generated automatically by analysing upper bounds of multiplicities.

[2017-03-15 09:24] gervarro commented on #108
Hi Tony,

Just a short status report: I managed to fix the bugs and to implement the call graph analysis module. I will try to prepare a new version on the update site in the next couple of days. You will have to update the pattern matcher configuration at some locations. I will share the details when I am ready with the update.

Bests,
Greg

[2017-03-15 17:15] gervarro commented on #108
Hi Tony,

The promised modifications are now online. Please update the corresponding 3 features (specification, interpreter, advanced) from the update sites. You should remove the code from the Democles configuration that handles pattern invocations in the incremental case (i.e., `PatternInvocationComponentBuilder` must not be created in your code manually any more). My other recommendation would

[2017-03-16 15:10] #112 closed, assigned to Arikae

[2017-03-16 15:12] anthonyanjorin opened #116 "Improvements of pattern vis"
1.  Local variables
2.  Parameter passing for pattern invocation
3.  __or__ patterns

[2017-03-16 15:14] Arikae commented on #116
4. better distinction between positive and negative invocations

[2017-03-16 15:15] anthonyanjorin commented on #116
How should local variables look like?  Different colour?  Grey perhaps?

[2017-03-16 15:18] anthonyanjorin commented on #116
How would a better distinction look like?  Red edge?

[2017-03-16 15:22] anthonyanjorin commented on #116
(2) could be realised by adding edges showing which variables were passed as which variables (we could then remove the edges connecting the patterns and change the border of the invoked pattern to indicate positive/negative).

[2017-03-16 15:23] Arikae commented on #116
(1) I saw that currently signature elements are visualized with a capital C and virtual nodes that are only known from edges have a capital V. Maybe we could introduce a L?

[2017-03-16 15:33] Arikae commented on #116
(2) I guess this could become very confusing when the pattern becomes bigger but I guess we could give it a try

[2017-03-16 15:35] Arikae commented on #116
(3) still not sure if we need this (or not the vis)

[2017-03-16 15:36] Arikae commented on #116
(4) blue and red?

[2017-03-16 16:00] anthonyanjorin commented on #116
True...  (3) could be achieved just by selecting each _body_ in the tree editor (and visualising each _or_ branch in that manner)

[2017-03-17 15:10] anthonyanjorin commented on #108
@Arikae @FStolte :  Once @erhanleblebici has performed these fixes we all have to update the features (org.gervarro.*) to get ibex running as expected.

[2017-03-17 17:18] erhanleblebici commented on #108
After having removed the configuration for pattern invocation (which did not compile anyway), I get the following exception at runtime:
Exception in thread "main" java.lang.RuntimeException: No handler exists for constraint type org.gervarro.democles.constraint.PatternInvocationConstraintType @ 7f0eb4b4

The line which I removed can be seen here (according to your recommendation, @gervarro) :
http

[2017-03-18 00:04] gervarro commented on #108
I do not think that the Democles configuration would be a problem, as the above error says that the handler for pattern invocations is missing. You removed exactly this line from the configuration, which should be handled automatically in the latest version.

Have you downloaded the features from both the default and the **advanced** update sites? Does the `org.gervarro.democles.interpreter.increm

[2017-03-18 00:11] gervarro commented on #108
Just another comment. The `EMF-based to EMF-independent transformation` needs to have the patterns in the resource set. In debug mode, the pattern resources are removed in the `saveDemoclesPatterns()` method, which will definitely lead to errors.

[2017-03-18 14:25] anthonyanjorin commented on #108
Hi Greg,

I have been able to update and I can run the code without getting any exceptions.

Unfortunately, the process is now non-deterministic:  sometimes some matches are available (as expected), sometimes not.  This has nothing to do with `saveDemoclesPatterns()` as I tried it also with `debug = false`.

It's very strange, all I can say is that if you run the code 4-5 times, one time it'll wor

[2017-03-19 14:45] gervarro commented on #108
Hi Tony,

This has nothing to do with the configuration.

The search plan algorithm prepares different Rete networks. If a network contains a structure that is buggy at runtime, then it might result in no matches. However, if a network does not contain any buggy structures, then you get the corresponding matches. In the last commit, I changed the runtime behaviour of the engine so it might easily

[2017-03-19 17:34] anthonyanjorin commented on #108
Ok.  If I understand correctly we should wait for a fix.

BTW:  I hope to start work on a testsuite (based on our existing tests for eMoflon) very soon so we can run automatic tests after every update to avoid regressions.

It's just a bit hard to test the (random) model generator so this will only make sense as soon as synchronisation is working (hopefully very soon).

Thanks for the fast reply!

[2017-03-19 17:39] anthonyanjorin commented on #66
What do you think @erhanleblebici? It shouldn't be such a big deal to automatically generate target NACs from upper bounds of multiplicities.  This module can then be extended in the future (using Henshin or whatever for the [constraints=>application conditions] transformation.

As this decision influences our pattern network, I don't want to wait too long before integrating it (especially regardi

[2017-03-20 13:25] Arikae opened #122 "Generate Schema.tgg and csp library for old projects"
Currently the Schema.tgg and csp library are not generated for old projects which is confusing since the building process won't do anything without any message.

[2017-03-20 13:52] Arikae commented on #122
Seems like this was only a problem when the project did not have the Viatra Nature

[2017-03-20 13:52] #122 closed, assigned to nobody

[2017-03-21 17:44] gervarro commented on #108
Hi Tony,

I am planning to prepare a scenario for testing all possible Rete network substructures, but as there are many valid combinations it might take somewhat longer. I could probably fix the bug faster if you could help me identifying the cases in which the pattern matcher is erroneous.

Please add the following lines after `retePatternMatcherModule.getSession().setAutoCommitMode(false);` to

[2017-03-21 19:24] anthonyanjorin commented on #108
Hi Greg,

Of course!  Below is the output produced for the smallest pattern that is supposed to match but doesn't:

[code]

Another pattern that also doesn't match but should is this:

[code]

In case you need this information, these are the other remaining patterns that should and do match as required (note that they do not have any pattern invocations so this is probably what's not working):

[c

[2017-03-21 21:41] anthonyanjorin commented on #116
So:  (1) Local variables are now visualised with an L, (2) Links are drawn between variables to indicate parameter passing for invoked patterns, (3) or patterns can be handled as you now have to choose the body to be visualised, (4) the edges used for negative pattern invocation are different and the background of the invoked pattern is also grey as opposed to white for positive pattern invocation

[2017-03-21 21:41] #116 closed, assigned to anthonyanjorin, FStolte

[2017-03-22 21:44] anthonyanjorin opened #124 "Integrate flattening transformation in ibex"
Change to the branch `flatteningOfTGGRules`.
Implement TODOs in `IbexTGGBuilder` (for creating the additional flattened file) and `IbexDiagramTextProvider` (to invoke the flattening transformation in the editor vis).

[2017-03-24 13:57] Arikae opened #125 "Broken EEnumLiteral with generated Code"
When we only operate on ecore models, we can use enums.
The problem occurs when we generate code from these ecore models.
Somehow the literals are instantiated as general instances of EEnumLiteral which leads to a serious failure when we try to cast it to a specific implementation of EEnumLiteral.

[2017-03-24 18:26] #124 closed, assigned to FStolte

[2017-03-27 07:56] anthonyanjorin commented on #108
Hi Greg,

Can I help or support in any way?

Thanks,
Tony

[2017-03-28 08:26] gervarro commented on #108
Hi Tony,

Sorry for the delay, but I was busy last week. I analyzed the situation today on the train, and it seems to be a trivial bug again. If it is really the case, then I will upload the fix either today or tomorrow.

Bests,
Greg

[2017-03-28 08:56] anthonyanjorin commented on #108
Great! Thanks :)

BTW:  My student is now working full time so things should really start moving soon.  Hopefully we can have a meaningful Ibex@Democles release in just a few months.

[2017-03-29 15:02] gervarro commented on #108
Hi Tony,

the fix is now available on the update site. The match set of the `IgnoreFamily_MODELGEN/3` pattern was affected by the bug, and it should be OK now. Please re-check the result set or the specification of the `SonToMaleRule_MODELGEN/2` pattern. I do not know how you wanted to specify the `SonToMaleRule_SRC_CONTEXT/1` pattern, but it requires a `Family` and not a `FamilyRegister`. There w

[2017-04-02 09:21] anthonyanjorin commented on #108
yep - all seems to be working.  Great!

[2017-04-02 21:39] gervarro commented on #108
Could you please provide me the latest set of patterns (and models) if they changed?

[2017-04-03 07:29] anthonyanjorin commented on #108
Hi Greg,

Please find a minimal example attached.  I have reduced things to a single pattern and a set of models where it should match but doesn't:

[code]

[patternsAndModels.zip](https://github.com/eMoflon/emoflon-ibex/files/889222/patternsAndModels.zip)

[2017-04-03 08:31] erhanleblebici opened #128 "Redundant Protocol-NACs in Democles patterns"
An example is attached, I marked in the pdf-file the redundant part.

[ibexpatterns1.pdf](https://github.com/eMoflon/emoflon-ibex/files/889376/ibexpatterns1.pdf)

[2017-04-03 14:16] erhanleblebici opened #129 "Inter-rule pattern invocations for DEC are missing in Democles patterns"
cf. the annotation in the pdf file
[ibexpatterns1.pdf](https://github.com/eMoflon/emoflon-ibex/files/890326/ibexpatterns1.pdf)

[2017-04-03 14:22] anthonyanjorin opened #131 "Switch to latest PlantUML update site (and interfaces)"

[2017-04-03 14:22] anthonyanjorin commented on #131
FYI: @Arikae

[2017-04-04 15:41] anthonyanjorin commented on #125
Any ideas how we can fix this?  I don't understand why we have this problem

[2017-04-04 16:10] Arikae commented on #125
Nope, we neither. I just ran into this problem when I generated code from an existing .ecore and used the newly generated project instead. I have absolutely no idea why it generates ConcreteEnumLiterals as instances of the generic class EENumLiteral....

[2017-04-09 07:08] anthonyanjorin commented on #108
Hi Greg,

Just wondering if you can reproduce or if I messed up the update.

Cheers and thanks,
Tony

[2017-04-09 18:11] Arikae commented on #128
These marked pattern invocations were not redundant but falsely implemented. (Copy-Paste error)
There we check if the elements that are context have already been marked instead of checking that "green" elements have not yet been marked.

[2017-04-09 18:11] #128 closed, assigned to Arikae

[2017-04-09 18:12] Arikae commented on #129
Should be fixed

[2017-04-09 18:12] #129 closed, assigned to Arikae

[2017-04-09 18:13] Arikae commented on #129
Minor addition - as for now the fix is only in the PatternMapping branch

[2017-04-10 11:06] anthonyanjorin opened #136 "Join Failed as runtime exception"
Hi Greg,

for a simple pattern network we are getting a `Join Failed` exception and do not understand what is wrong.

Please find a diagram* of the relevant pattern network attached, together with the patterns file and all models.

Thanks!
Tony

(*)  Patterns are depicted as packages, variables as classes with V, local variables as classes with L.  Negatively invoked patterns have a grey backgroun

[2017-04-10 14:00] anthonyanjorin commented on #136
This might be related to #108. I'm not absolutely sure but now and then it seems to work without throwing an exception.

[2017-04-11 17:38] anthonyanjorin opened #139 "Configurable Filter NAC generation"
Filter NACs (DEC NACs) are useful but can sometimes be restrictive or inefficient (and for some example unnecessary).

We should introduce a config Parameter for sync that should enable choosing between:  (1) no filter NACs at all, (2) simple filter NACs (as in eMoflon), and (3) advanced filter NACs (currently implemented).

[2017-04-13 12:02] SaschaEdwinZander opened #146 "[ibex_viatra] Can't resolve language.ecore"
I am using a TGG to transform other TGGs. The loading of the TGG model (..../language.ecore) is working, but the Types of the TGG aren't resolved. They are proxies and using EcoreUtil.resolveAll() is not solving the problem.

The workaround is this hack:

[code]

Normally it should work with  `LanguagePackage.eINSTANCE.getName();` to register and resolve the meta-model.

[2017-04-18 21:03] gervarro commented on #108
Hi Tony,

a new version is available online. Download updates from both sites!

Bests,
Greg

[2017-04-18 21:14] gervarro commented on #136
I wanted to test this issue as well, but the model did not contain any families, consequently, there were no matches for patterns containing a `Family`. Could you please send me a model with families?

A `JoinFailedException` is typically thrown, if the mapping of variables to match positions is screwed up, and I have not seen this kind of exception for a while. The `FatherToMaleRule__CONTEXT_SRC`

[2017-04-21 12:50] anthonyanjorin commented on #108
@FStolte

[2017-04-23 18:12] anthonyanjorin commented on #108
Hi Greg,

unfortunately we still have some cases where matches are missing for certain patterns.
@FStolte (doing his master's thesis) will soon post a minimal example with patterns and models here.

Cheers,
Tony

[2017-04-23 22:07] gervarro commented on #108
Hi Tony,

sorry, but these complex pattern invocations are first tested with the TGG scenario. I am waiting for the example. Btw. do you still experience the `JoinFailedException` at runtime?

Bests,
Greg

[2017-04-24 09:18] FStolte commented on #108
Hello Greg,

Unfortunately, I was not able to reproduce the problematic cases Tony mentioned since they last occurred. Hopefully they were just caused by some bug in my runtime-eclipse that is now gone...

Anyway, the "Join failed" Exception is still occurring for me. In the attached example it is thrown rather consistently (but not always). However, when i remove the patterns for `MotherToFemaleR

[2017-04-24 14:49] FStolte commented on #108
Hi Greg,

It seems that we were able to resolve our issues. While we still do not know why the "Join failed" Exception was thrown, it does not occur anymore. It looks like all matches are now handled properly.

Thanks,
Florian

[2017-04-24 14:49] #108 closed, assigned to gervarro

[2017-04-24 15:35] FStolte opened #150 "Tests failing due to "Join Failed Exception""
Hi Greg,

I am currently getting unexpected matches for a negative pattern invocation of one of my patterns. My first guess would be that those matches are not injective, although i want them to be. Can you please tell me how I can control whether a pattern should be matched injectively or not?

Thanks,
Florian

[2017-04-24 22:24] gervarro commented on #150
Hi Florian,

specify manually (or in a generated manner) `unequal` constraints (from the `relational` package) for the variables that have to be injectively mapped (typically the variables with compatible types).

Best regards,
Greg

[2017-04-25 13:01] FStolte commented on #150
Thanks, that's just what I needed.

When I created a first minimal example using the unequal constraint, I ran into the following `NullPointerException`:
[code]

It seems that during a `DELETE` event for the pattern containing the `unequal` constraint, the `entry` variable in `CompoundIndex.remove()` is null. Attached are the patterns for which I get the exception. The `FatherToMaleRule__CONSTRAIN

[2017-05-01 22:31] gervarro commented on #150
Hi Florian,

could you please send me some models as well, for which the exception is thrown?

@anthonyanjorin Btw. I also found the (one) reason for the join failed exception. I am now working on that fix as well.

Best regards,
Greg

[2017-05-02 10:15] FStolte commented on #150
Hi Greg,

While trying to create models for you, I found out that this exception is not even related to the `unequal` constraint. I have a new set of patterns (and models) for you that do not contain any unequal constraints. Still, the exception occurs most of the time (though not always) for these simple models.

[patternsAndModels.zip](https://github.com/eMoflon/emoflon-ibex/files/970118/pattern

[2017-05-02 14:04] FStolte commented on #150
We were now able to eliminate one case where the exception occurs, so the above models are not relevant anymore.

However, I found another example where the exception seems to occur consistently. Patterns and Models are below.

[patternsAndModels.zip](https://github.com/eMoflon/emoflon-ibex/files/970679/patternsAndModels.zip)

Thanks,
Florian

[2017-05-04 10:25] SaschaEdwinZander opened #152 "flatten TGGs aren't used. Wanted?"
If you use refinements, the flattened tggs aren't used, but the tggs will be saved. I dont't know if this is wanted, bacause of the beta status of the flattening process or this is a bug.

If this is a bug.

You can change the `org.emoflon.ibex.tgg.ui.ide.admin.IbexTGGBuilder`

from

[code]

to

[code]

[2017-05-04 10:50] FStolte commented on #152
This behavior is correct, don't worry. Currently, the flattening is only used by the visualization. The output file for the flattened TGG is only generated for debugging purposes.

Best Regards,
Florian

[2017-05-04 10:50] #152 closed, assigned to anthonyanjorin, FStolte

[2017-05-04 17:58] anthonyanjorin commented on #136
@FStolte Is this still relevant?  Could you provide some models?

[2017-05-04 21:28] gervarro commented on #136
This is still relevant, and now I know what the problem is.

[2017-05-05 05:05] #66 closed, assigned to Arikae, anthonyanjorin, erhanleblebici

[2017-05-05 05:06] anthonyanjorin commented on #67
Work in progress

[2017-05-05 05:06] #67 closed, assigned to Arikae, anthonyanjorin

[2017-05-05 11:35] anthonyanjorin commented on #131
@RolandKluge Switch was quite painless really.

[2017-05-05 11:35] #131 closed, assigned to anthonyanjorin

[2017-05-06 06:58] anthonyanjorin opened #163 "Missing match (still non-deterministic)"
Hi Greg,

As far as I can see I'm still having the same old problems with a very trivial pattern network.
For just two very simple patterns, I sometimes (1 time in 10) get matches as expected with this network:

`IgnoreFamily__CONTEXT_CORR/3 @ 0: BidirectionalJoinOperation@4(platform:/resource/FamiliesToPersonsDeterministic/model/Persons.ecore#//PersonRegister^U->[1],BidirectionalJoinOperation@3(B

[2017-05-06 06:59] anthonyanjorin commented on #163
I have really tried hard to make sure that I have the latest of everything.

[2017-05-06 08:56] anthonyanjorin commented on #163
Hmm...  ok - this might be related to installing the Democles Update Sites properly..  I still have to perform some experiments.

[2017-05-06 14:28] anthonyanjorin commented on #163
Ok - I found out that the target platform stuff is not really working (no idea why).  As from now on we'll be working without any dependencies to eMoflon so we can install Democles directly.  All my tests seem to be running now.

[2017-05-06 14:28] #163 closed, assigned to gervarro

[2017-05-06 22:38] anthonyanjorin commented on #76
work in progress

[2017-05-06 22:38] #76 closed, assigned to nobody

[2017-05-06 22:44] anthonyanjorin opened #167 "Working on Sync: Missing Match, strange events"
Hi Greg,

I'm trying to make some progress on sync again.

For a simple example (see patterns and models attached), I expect to get an insert event for ```IgnoreFamily__FWD```.  This is, however, not produced.

Instead I get a series of insert and delete events for ```HandleRegisters__FWD```.  This is rather confusing -- why am I getting insert/delete events?  Is this normal and to be expected (ap

[2017-05-08 11:39] anthonyanjorin commented on #167
ok - this might have something to do with missing injectivity checks.

[2017-05-08 11:40] anthonyanjorin commented on #167
However the question regarding multiple inserts and deletes is still open.

[2017-05-08 14:36] anthonyanjorin commented on #167
Hi Greg,

I've now added all injectivity checks that I believe should be present.  Unfortunately, I'm still not getting the expected match.

Please find the updated patterns attached.

[missingMatch.zip](https://github.com/eMoflon/emoflon-ibex/files/983805/missingMatch.zip)

[2017-05-09 10:42] erhanleblebici commented on #139
this is now configurable by setting the NoDECsPatterns::strategy attribute. It has no DEC-check (NONE) per default and is only accessible to developers.
You might choose to  pass its value via constructors of higher-level stub classes for the user.

[2017-05-09 10:42] #139 closed, assigned to nobody

[2017-05-11 13:45] erhanleblebici opened #176 "Name Clashes in SearchEdge-Patterns for DEC"
The naming convention in search-edge patterns leads to name clashes when multiple edge types share the same name.

You can identify an edge type uniquely by its source class, target class and its name.
Only name and target class as done in our naming convention are not sufficient.

example:

Bar -foo-> Foo
Baz -foo-> Foo

[2017-05-11 18:05] Arikae commented on #176
how urgent is this bug?

[2017-05-22 15:57] erhanleblebici commented on #176
as far as I know it concerns Henshin-To-eMoflon integration as multiple edge types are called "graph" in Henshin. Deactivating DEC-Check was necessary for @SaschaEdwinZander to work with ibex-viatra.
It won't be urgent until Henshin integration relies on any kind of DEC-check

[2017-05-24 04:10] gervarro commented on #150
Hi,

@FStolte, @anthonyanjorin: Sorry for the delay. I did not forget about this issue, but the simplest bug fix was not sufficient, and I had to rearrange some pattern invocation code as part of a somewhat larger change, which might be related to #167 as well. I am going to test the new solution, and hopefully upload the fixed code next week.

Bests,
Greg

[2017-05-24 08:11] anthonyanjorin commented on #150
Hi Greg,

great to hear that a fix is coming soon :)

Please remember that we now have tests that you should be able to very easily run (if not complain and we'll try to further simplify the process).

Taken from one of my emails:

1. Democles installieren (bzw. im Dev-Workspace haben)
2. Xtext/Xtend installieren
3. Diese PSF-Datei im Workspace importieren:  https://github.com/eMoflon/emoflon-ibex

[2017-05-30 16:07] anthonyanjorin opened #179 "Flattened TGG rules should be sorted"
Currently, the flattened TGG rules do not seem to be sorted in a deterministic way.  While this has no effect on the result, it's a bit annoying when using a source code versioning system as it always flags the flattened tgg file as being changed.

I suggest you just sort the final TGG rules alphabetically?

[2017-05-30 17:58] gervarro commented on #150
Hi,

I uploaded a new version of Democles to the update site that should fix this issue.

@anthonyanjorin Now I managed to install the test workspace. In my setup, the two `Comparator.xtend` files were buggy in the sense that they had been committed with some other character encodings, and the << and >> characters were wrong.

I am going to check #167.

Bests,
Greg

[2017-05-30 18:24] gervarro commented on #167
Hi Tony,

could you please tell me which test case produces these strange events?

Bests,
Greg

[2017-05-30 20:44] anthonyanjorin commented on #167
Hi Greg,

if `https://github.com/eMoflon/emoflon-ibex/blob/master/org.emoflon.ibex.tgg.tests/testsuite2_familiestopersons/test/testsuite1/familiestopersons/sync/batch/BatchForward.java` is running then I would be happy for the moment.

When you run the tests, you'll notice that I print out all events that are produced on the console.

I'll continue writing more tests and if they fail then I'll ope

[2017-05-30 20:53] anthonyanjorin opened #181 "Switch to common GUI component"
We now have an extension point `IbexTGGBuilderExtension` in `ui.ide`.  Basically the standard builder produces a tgg model and a flattened tgg model, and then invokes the registered extension providing these models as input.  Whoever implements this extension point can then produce any other models including an internal TGG model and stubs, etc.

What is to be done now is to:

1.  Switch to the ve

[2017-05-30 21:06] anthonyanjorin commented on #150
Hi Greg,

yes, sorry.  For xtend files with their silly << >> characters we all have to switch the workspace encoding in Eclipse to UTF 8.

Btw. I just updated and tried our tests -- I still get 6 errors due to a "Join Failed" runtime exception.  Don't you?

Cheers and thanks,
Tony

[2017-05-30 21:25] anthonyanjorin commented on #167
I just updated and tried out `testMotherToFemale()`.  It's still failing as no matches for the pattern `CreateMotherInNewFamily__FWD` are found (and I don't understand why not).  This can of course be a bug on my side, but the pattern network actually looks ok to us.

[2017-05-30 21:26] anthonyanjorin commented on #136
I'll close this issue as we now have tests that fail and document this in a reproducible manner.

[2017-05-30 21:26] #136 closed, assigned to gervarro

[2017-05-30 22:55] gervarro commented on #150
Hi Tony,

I have not fixed the "Join failed" exception yet, although I already identified what the problem is.

Bests,
Greg

[2017-05-31 05:42] anthonyanjorin commented on #150
Ok - I was worried that my update went wrong.  Thanks, Greg!

[2017-05-31 07:20] erhanleblebici commented on #179
Shouldn't we consider a flattened TGG file as a "derived" artifact?

[2017-05-31 07:27] anthonyanjorin commented on #179
Yes, absolutely.  But the testsuites are currently designed in such a way that the tests can be executed and debugged without installing anything.  So there is an ibex.jar in lib and everything is checked in so there is no dependency to ibex.ide.

In general (from our experience) I think it's just a good idea to make sure that the exact same file is produced as this also improves builder behaviour

[2017-06-01 14:34] SaschaEdwinZander commented on #125
EEnumLiterals have the method getInstance() which returns the real Enumeration as org.eclipse.emf.common.util.Enumerator. This Enumerator can be used in the EObject.eSet() without the failure.

[2017-06-01 14:34] #125 closed, assigned to Arikae, erhanleblebici

[2017-06-01 21:52] gervarro commented on #167
Hi Tony,

I analyzed the `testMotherToFemale` test case in the `testsuite2_familiestopersons` project, and now I summarize my experience:
- There was a bug in the pattern matcher. The fix will be available next week (hopefully together with the fixes for the "Join failed" exception).
- After carrying out the fix locally, the pattern matcher produces the expected match, but the test still fails as

[2017-06-02 07:51] anthonyanjorin opened #186 "Re-engineer CSPs and handling of attributes to leverage Democles better"

[2017-06-02 07:53] anthonyanjorin opened #187 "Fix for testMotherToFemale test case in the testsuite2_familiestopersons"
As soon as the Democles fix is available, make sure that the name attribute for the newly created Female object is set (of adjust the expected model in the test if this is not a bug).

[2017-06-02 07:54] anthonyanjorin opened #188 "Better usage of EMFPatternBuilder"
Tip from Greg:

[2017-06-02 07:59] anthonyanjorin commented on #167
Hi Greg,

happy to see that our usage in Ibex is revealing some bugs in Democles.
I've created issues from all your tips -- thanks!

Cheers,
Tony

[2017-06-02 12:08] anthonyanjorin commented on #125
@Arikae @erhanleblebici Could we transfer this fix to master?

[2017-06-06 21:16] gervarro opened #190 "Double-checking request for Ibex rule to Democles pattern mapping"
Hi Tony,

while fixing the "Join failed" exception bug(s), I experienced some unexpected setups. Could you please check whether they represent the intended behaviour?

- The `ConnectFather__CONTEXT_SRC/3` pattern is disjoint (first two and second two symbolic parameters are not connected).
- There was a case represented by the `ConnectFather` rule and `0 - f__father__father_eMoflonEdge TGGRuleEdge

[2017-06-06 21:21] gervarro commented on #167
Hi Tony,

it is not a surprise as these pattern invocations have never been so widely used as in the Ibex scenario. The fix for the "Join failed" exception bug will be online at latest tomorrow evening. 3 tests still fail after the fix (one even producing an infinite loop), but the reason for these failing tests is not a runtime exception any more. I will analyze the failing tests in the next coup

[2017-06-06 21:55] anthonyanjorin commented on #190
@FStolte Let's discuss this tomorrow if you're available

[2017-06-07 09:34] FStolte commented on #190
Short answer: 1. Yes, and 2. Sort of yes.

Long answer:
The disjoint pattern is desired. The ConnectFather rule adds an edge between a Father and a Family. So the pattern just contains those two nodes (and the FamilyRegister which the Family belongs to), which are not yet connected.
However, for me the pattern has just three parameters, not four. If that was not only a typo and you really have fou

[2017-06-08 14:59] FStolte commented on #179
I implemented sorting of (what I assume to be) everything that might get out of order during the flattening, so hopefully this problem should be solved now.

[2017-06-08 14:59] #179 closed, assigned to FStolte

[2017-06-12 21:41] gervarro commented on #190
Hi,

OK. I just wanted to be sure that this case was not a bug.

It should not be a problem theoretically, but EMF issues a notification if a 0..1 reference is set to an identical value, which was not handled appropriately until the latest version, which is now available on the 2 update sites.

Bests,
Greg

[2017-06-12 21:41] #190 closed, assigned to anthonyanjorin, FStolte

[2017-06-12 21:42] gervarro commented on #150
The fix for the join failed exception is now available on the 2 update sites.

[2017-06-13 09:03] #150 closed, assigned to gervarro

[2017-06-13 09:12] #167 closed, assigned to gervarro

[2017-06-13 09:52] #187 closed, assigned to anthonyanjorin

[2017-06-21 11:57] anthonyanjorin opened #193 "Add .ecores to new test projects (database and classinheir)"
The new test projects do not have their .ecores when checked out.

@FStolte You probably forgot to commit both .ecore and .genmodel

[2017-06-21 11:59] anthonyanjorin commented on #193
@FStolte You should also check in the generated code (to simplify running all tests without any dependencies to eMoflon or anything else)

[2017-06-21 13:08] erhanleblebici opened #194 "require context nodes in protocol patterns"
... and not only created nodes to identify rule applications uniquely.

This bug has the following consequence: When we have a rule that does not create a node (but only edges), the protocol node in the pattern is not connected to any model element at all.

[2017-06-22 07:21] anthonyanjorin opened #195 "Fix templates for stubs to handle pm registration"
Not sure what to do here...  add register call to constructor?  Perhaps default democles and a TODO with a message to change if necessary?

Or move these templates to democles specific project?

[2017-06-22 15:05] erhanleblebici opened #199 "decouple plantUML vis from democles patterns"
... and provide a more generic vis based on our pattern-structures in java

[2017-06-22 15:36] erhanleblebici opened #200 "provide an alternative builder"
what I need is:
- specific project nature in new project vizard
- a builder that generates (dummy) text files in a user project (e.g., in model/patterns)
- stubs for synch, modelgen, and cc (you can leave registering a pattern matcher open)

[2017-06-26 11:22] anthonyanjorin opened #201 "Faulty generation of NACs for container constraints"
The pattern ``ConnectFather__MODELGEN`` in ``testsuite1_familiestopersons`` is wrong as it only has a NAC for the ``father`` connection between ``fm`` and ``f``.

The relevant application condition should be, however, that fm should not be contained in anyway in any container (as it would hop out of its container and be placed in ``fm``).

The forbidden edge should therefore be ``container:EObject

[2017-06-27 08:48] #193 closed, assigned to FStolte

[2017-06-27 09:12] FStolte commented on #201
Unfortunately, creating a failing test case is not possible with our current meta-models. The current implementation of containment constraints works correctly for the special case that an object can only be contained by one other type (in this case only a Family can contain a FamilyMember). To test the case where this constraint fails, we would need a meta-model where an object can be contained b

[2017-06-27 14:20] FStolte opened #202 "CC: NullPointerException on some Tests"
Hi Erhan,

I just wrote a few tests using the `modelsAreConsistent()` method and I am getting `NullPointerExceptions` for some of them. The exceptions occur in the `ConsistencyReporter` during `extractInconsistentEdges()`. The innermost if-statement does not cover the case that `getterResult` is null; adding this check removes the Exceptions. However, since I am not sure what it means if there is

[2017-06-27 14:47] erhanleblebici commented on #202
Hi Florian,
your solution seems just correct. I really did not think about the case where the getter returns null.
Null means that there is no edge to be reported, so a null check is all what you need.
You can surely commit your solution

[2017-06-27 14:47] #202 closed, assigned to erhanleblebici

[2017-06-29 17:46] anthonyanjorin opened #203 "Only save generated models (tgg, editor model, etc) if they really change"
Use option for EMF resource.save to check if the file has actually changed and only save then (to avoid unnecessary changes being detected by git)

[2017-06-29 17:51] anthonyanjorin opened #204 "Make special branch for Greg, master should ignore failing tests and use plugin dependencies"

[2017-06-30 13:03] anthonyanjorin commented on #199
Now decoupled....   implementing a new vis based on our ibexpatterns directly is future work (not currently implemented).

[2017-06-30 13:03] #199 closed, assigned to anthonyanjorin

[2017-06-30 15:23] #195 closed, assigned to anthonyanjorin

[2017-06-30 15:47] anthonyanjorin commented on #200
Do you think we can use more or less the same stubs (apart from a new engine and some extra imports)?

[2017-06-30 22:49] #200 closed, assigned to anthonyanjorin

[2017-07-02 12:02] #204 closed, assigned to FStolte

[2017-07-04 07:18] anthonyanjorin opened #205 "Refactor tests so that they can be run for any "Engine""
Idea:  Extract dependencies to an extra project that can be swapped in specific PSF files to prepare the test workspace.

[2017-07-04 07:19] anthonyanjorin opened #206 "Merge all tests into a single test project to simplify running JUnit"
At the moment we have separate test projects.  Feels right but it's a pain in the ass to run JUnit manually separately for every project.  Yes, this can be automated using e.g., our test plugin, but there's also no reason why all tests cannot be in the same project, structured using the package hierarchy.

[2017-07-05 12:00] erhanleblebici opened #208 "Attribute assignment for context node in Families-to-Persons example"
In the following file, there is an attribute assignment (with operator ":=")  for a context node.
This is not something we allow in our TGGs (we have "==" for context and ":=" for green)

https://github.com/eMoflon/emoflon-ibex/blob/master/org.emoflon.ibex.tgg.tests/testsuite1_familiestopersons/src/org/emoflon/ibex/tgg/rules/AddFatherToSecondFamily.tgg

You might consider to check also other rules

[2017-07-05 13:19] #208 closed, assigned to FStolte

[2017-07-07 15:15] anthonyanjorin commented on #105
I don't understand this issue and I'm not sure if it is even relevant for filter NACs.

This can be revisited if we have failing tests that indicate what is going wrong (and if something can really go wrong).

[2017-07-07 15:15] #105 closed, assigned to Arikae

[2017-07-07 15:18] anthonyanjorin commented on #146
Please move to our viatra specific repository if this is still relevant.

[2017-07-07 15:18] #146 closed, assigned to nobody

[2017-07-07 15:18] anthonyanjorin commented on #181
Work in progress...

[2017-07-07 15:18] #181 closed, assigned to Arikae, erhanleblebici

[2017-07-07 15:20] anthonyanjorin commented on #176
This can be reopen and reconsidered when we have reimplemented filter PACs.  But then also with a test that is failing.

[2017-07-07 15:20] #176 closed, assigned to Arikae

[2017-07-07 15:24] anthonyanjorin commented on #194
Solution:

We need a new type of patterns of the form:  [ protocolNode---contextSrc/Trg---> foo ]

These new patterns have to be integrated to protocol patterns.

[2017-07-07 15:26] anthonyanjorin opened #216 "Optimisation of Filter NACs"
Two optimisation ideas:

1.  Exploit EMF container semantics:  No need to forbid the existence of a containment edge when this can never be the case (currently we generate NACs for this).
2.  Exploit eOpposite EMF semantics:  No need to forbid the existence of opposite edges, one NAC in one of the directions is enough (currently we always generate two NACs).

[2017-07-07 16:37] erhanleblebici opened #217 "Patterns are created multiple times"
Something seems to be wrong with the pattern factory.
In the attached screenshot, you see a Map<Rule, Collecion<IbexPattern>> which is the result of TGGCompiler.

I have three rules (black rectangles) but six Src-Patterns.
And it is not deterministic which patterns are created multiple times. (I had duplicate NO_FILTER_AC_SRC in the next run)

<img width="969" alt="screenshot 2017-07-07 18 18 10"

[2017-07-07 17:03] anthonyanjorin commented on #217
@FStolte Could this be one of the problems we solved already?  Perhaps you can remember better than I can.

[2017-07-07 20:10] FStolte commented on #217
I don't recall that we encountered a situation where duplicate patterns were created non-deterministically. For all bugs we already fixed, the creation of duplicate patterns (or duplicate invocations) was a systematic error.

Besides, it seems rather strange to me that Src-Patterns can be duplicated at all with how the Pattern Factory works. Since the patterns are stored in a map with their classe

[2017-07-07 20:46] anthonyanjorin commented on #217
This is an evil HashMap and String Java problem :(  I'm on it.

[2017-07-08 08:30] anthonyanjorin commented on #217
Hi Erhan,  this should be fixed as far as I can test.  The actual problem was with some Java 8 code that didn't work as I expected :(

[2017-07-08 08:30] #217 closed, assigned to anthonyanjorin, FStolte

[2017-07-08 08:35] anthonyanjorin commented on #201
@FStolte Now that Greg has implemented the new constraint type we should discuss how best to use it in the analysis.  IbexPatterns should remain engine independent, but we need some way to represent this edge type so it can be either supported by engines or ignored if they cannot.

[2017-07-11 18:50] #205 closed, assigned to anthonyanjorin

[2017-07-11 18:51] #206 closed, assigned to anthonyanjorin

[2017-07-28 15:01] FStolte opened #219 "UpdatePolicy for resolving Rule Application Nondeterminism"

[2017-08-04 16:40] #219 closed, assigned to anthonyanjorin, FStolte

[2017-08-05 14:18] #203 closed, assigned to anthonyanjorin

[2017-08-07 19:06] anthonyanjorin opened #221 "Establish a means for users to specify complex NACs/PACs manually"

[2017-08-08 08:42] #188 closed, assigned to anthonyanjorin

[2017-08-13 09:36] Arikae commented on #194
Not sure if I'm doing something terribly wrong but implementing this dramatically increases the execution times of our sync tests, e.g. BlockDiagram: before 3-6s after 90-...s

[2017-08-13 16:18] anthonyanjorin commented on #194
Have you profiled to find out what the problem is?  I don't understand my solution anymore but maybe it's not a good idea to have so many patterns, i.e., we should go for one larger pattern.

I'm not 100% sure, but perhaps we could also inspect the rule and only create these extra pattern if it's a pure edge rule (ask @erhanleblebici).

But profiling to locate the hotspot would be a good idea in a

[2017-08-13 17:04] anthonyanjorin opened #222 "Try out a cold start"
For persistent synchronisation scenarios we must be able to start ibex for a given triple and protocol.  This hasn't been tested yet and might be related to #194 concerning edge rules.

[2017-08-17 08:45] anthonyanjorin opened #223 "Add documentation to our ecore metamodels"
I just figured out how to add generated Javadoc to an ecore metamodel:

1.  Add an EAnnotation as a child of the element to be documented
2.  Set the source of the annotation as ```http://www.eclipse.org/emf/2002/GenModel```
3.  Add an entry to the annotation with its ```Key``` set to ```documentation```, and its ```value``` the actual text to be generated as a JavaDoc comment.

It would be nice t

[2017-08-20 13:01] anthonyanjorin commented on #221
- The xtext has been extended as required.
- Schema visualisation has been extended.

TODO:
  - NAC visualisation [done]
  - flattening transformation on editor model [done]
  - transformation to internal metamodel (flattened and non-flattened) [done]
  - pattern generation
  - extend VHDL TGG and see if tests pass

[2017-08-20 13:02] anthonyanjorin commented on #194
If I understand corrrectly this was implemented as one larger pattern.  Perhaps many smaller patterns (like for marked elements) would be better.  Have to try it out or ask Greg for advice.

[2017-08-23 22:14] anthonyanjorin commented on #221
All done

[2017-08-23 22:14] #221 closed, assigned to Arikae, anthonyanjorin

[2017-08-27 08:12] anthonyanjorin opened #226 "Try out NACs with CSPs"

[2017-08-28 18:34] anthonyanjorin opened #227 "Refactoring"
- use builder extension mechanism
 - remove obsolete imports and get rid of other warnings (there should be only exactly three warnings) in the entire workspace if possible
 - completely and utterly delete all commented code (what do we have git for?)

[2017-08-29 07:04] #227 closed, assigned to Arikae

[2017-09-03 18:22] anthonyanjorin commented on #216
Done. (on speed-up-tests branch).

[2017-09-03 18:22] #216 closed, assigned to anthonyanjorin

[2017-09-05 11:35] anthonyanjorin commented on #222
Works (this doesn't mean that it isn't buggy, but it works as it should for all examples I could try out in a few minutes) :)

[2017-09-05 11:35] #222 closed, assigned to anthonyanjorin

[2017-09-10 21:32] anthonyanjorin commented on #194
Looks as though this is now working as separate small patterns.  It has slowed things down a bit, don't get me wrong, but not so terribly and all tests run without out-of-memory exceptions.

I suggest we go with this solution and optimise things from here.

[2017-09-10 21:32] #194 closed, assigned to Arikae

[2017-09-12 14:38] FStolte opened #231 "Change name of MODELGEN operationalization to GEN"

[2017-09-15 12:45] anthonyanjorin opened #232 "Network optimisation ideas"
1.  Reuse of translation PACs in refinement networks
2. Consequent usage of "EdgeRule" patterns for all edges in all patterns

[2017-09-19 11:13] anthonyanjorin opened #233 "Filter NACs in Consistency Patterns?"
FilterNACs are currently missing in consistency patterns?

[2017-09-19 11:26] anthonyanjorin opened #234 "NACs are not working for simple example"
To reproduce:

List to list example, axiom with a NAC that should ensure that the first rule is only applied once, model generator ignores this.

[2017-09-19 12:03] anthonyanjorin commented on #234
Axioms do not require pattern matching and are currently *always* executable, i.e., NACs are currently not supported for axioms.  Not sure what to do here...  Either think of how to support this, or add a validation rule to the editor forbidding NACs for axioms.

What do you think @erhanleblebici @Arikae ?

[2017-09-19 15:32] anthonyanjorin opened #235 "Simple edge rule not working"
DLL to DLL using edge rules somehow causes an endless loop somewhere...

[2017-09-19 15:32] anthonyanjorin opened #236 "Improve output of cc"
Add a sysout for the consistency report of the cc op

[2017-09-19 19:15] anthonyanjorin opened #237 "Remove support for flattened networks and simplify code, tests, constructors, etc."
@FStolte As soon as you're done with your evaluation...

[2017-09-19 19:17] anthonyanjorin opened #238 "Improve readability of pattern networks"
@FStolte:  Please add, extend...

1.  Establish CORR pattern analogously to SRC and TRG
2.  Simplify consistency pattern networks by getting rid of WHOLE pattern (a part of it becomes CORR, a part of it CONSISTENCY)
3.  Implement simpler variant of refinement network for SYNC patterns?

[2017-09-21 07:20] anthonyanjorin commented on #232
Instead of [src], [<-corr->], [trg], establish [src<-corr] and [corr->trg] as patterns.

[2017-09-22 21:49] #237 closed, assigned to anthonyanjorin, FStolte

[2017-09-23 21:11] anthonyanjorin commented on #233
Fixed.  Caused a major slowdown for VHDL, but filter NACs must be in consistency patterns.

[2017-09-23 21:11] #233 closed, assigned to anthonyanjorin

[2017-09-23 21:21] anthonyanjorin commented on #231
I have changed it in a few places, but the rest is just not worth the effort.

[2017-09-23 21:21] #231 closed, assigned to anthonyanjorin

[2017-09-27 07:24] anthonyanjorin opened #239 "New constraint type for ---eAllContents-->"
Hi Greg,

while trying to make use of our --eContainer--> edge, I just realised that to create a green containment edge safely, we also have to ensure that the rule application does not create a containment cycle.

Would it be possible to have a special --eAllContents--> edge similar to the solution for #201?

Cheers and thanks!
Tony

[2017-09-27 08:06] gervarro commented on #239
Hi Tony,

if I remember correctly, containment cycles are checked automatically by EMF, when you create a new containment edge. Please check it in the generated code. If I am right, then I would use the standard feature.

Bests,
Greg

[2017-09-27 08:19] anthonyanjorin commented on #239
I don't know why, but I can say with certainty that this doesn't work for dynamic EMF (no generated code), we just get an endless loop until a stack-overflow is eventually thrown after a long time.

My guess with generated code is perhaps that the cycle will just be broken by kicking out the element just being added as a child (so similar to trying to add a second container).

Our model generator

[2017-09-27 21:43] anthonyanjorin commented on #235
This is due to #239

[2017-09-28 15:03] FStolte commented on #232
Reuse Marked-Patterns for contextSrc and contextTrg edges in CONSISTENCY network.

[2017-09-29 12:10] erhanleblebici opened #240 "Add dangling nodes of the input model into a Temp-Container"
... as they potentially can be added back to the model. If there are further changes at these nodes in the meantime, the temp cointainer ensures that pattern matcher is still informed of all actions on these nodes.

In a final iteration (probably when delta execution terminates), those dangling nodes which are not added back to the model must be removed permanently.

[2017-10-02 13:12] FabianMarcoBauer opened #241 "UserDefinedRuntimeTGGAttrConstraintFactory prevents projects with multiple TGGs where at least one has custom constraints"
Since all factories are located at org/emoflon/ibex/tgg/operational/csp/constraints/factories/UserDefinedRuntimeTGGAttrConstraintFactory, the default classloader only loads one of them and drops the others.

[2017-10-03 15:21] anthonyanjorin commented on #241
Up until now, we have always had the convention of having exactly one TGG per (Eclipse) project.  Is this what you are trying out?  Many things won’t work including the stub (Java classes with main methods) generation.

Do you have to have multiple TGGs in one project or could you just split up the project into one project per TGG?

[2017-10-03 17:36] #240 closed, assigned to anthonyanjorin

[2017-10-03 18:31] anthonyanjorin commented on #186
Currently the pattern matcher knows nothing about attribute conditions and collects and maintains potentially too many matches.

Ibex filters these matches by evaluating attribute conditions separately for each found match.

It would be great to establish our current set of attribute conditions as actual constraints (with operations) for the incremental pattern matcher, and also to streamline this

[2017-10-03 20:15] FabianMarcoBauer commented on #241
I didn't mean developing two tggs in one project, but using multiple tggs as libraries in a third project. Like for example in https://github.com/emoflon/emoflon-ibex-tests .

[2017-10-03 20:51] anthonyanjorin commented on #241
Ok - now I get it.  @Arikae Can this be fixed easily and without breaking all existing stubs to badly?  We had this problem with the generated stubs as well and the solution was to integrate the name of the TGG project in the package path.

[2017-10-04 21:47] gervarro commented on #186
To introduce new constraints and operations, all phases in the Democles pattern matcher have to be appropriately configured. As I mentioned in my e-mail, relational constraints are good candidates for being a simple and similar example.

1. **EMF-based pattern specification**: `RelationalTypeModule` (https://github.com/eMoflon/emoflon-ibex-democles/blob/21de0f85445ed468198ca1f8425d490f6b052c5e/org

[2017-10-04 22:05] gervarro commented on #186
The source code for Democles is available in the installed plugins, and you can extend Democles without changing a single line in the existing code, but if you really need Democles in your Eclipse workspace, then:

1. Install Eclipse Utils from the http://gervarro.org/eclipse-utils/integration-2.0.0/ update site.
2. Install Apache Ivy from the http://www.apache.org/dist/ant/ivyde/updatesite update

[2017-10-06 13:43] anthonyanjorin opened #243 "Generate rule specific types for rule application nodes"
This is necessary to avoid having to collect and filter possibly erroneous isomorphic matches for consistency patterns.

This could also possibly result in a speedup if the pattern matching process.

[2017-10-11 15:01] anthonyanjorin commented on #186
Hi Greg,

We’ve been able to implement (1) and (2) and feel that these steps are pretty clear.

Concerning (3) and (4) we first of all tried using InterpretableAdornedOperations but only the BB case works with that.  The problem as we can see it is that the FilterComponentBuilder ignores all other possible adornments.  For cases like FF or FB we thus get „No Search Plan found“ exceptions.

We are

[2017-10-11 22:23] gervarro commented on #186
Hi Tony,

Replace the `FilterComponentBuilder` with your own implementation that returns a `FilterComponent` for each `InterpretableAdornedOperation` (and not only for adornments with 0 cardinality). You can copy-paste the builder and change the copied code however you like.

Please check the EMF related subclasses of the `NativeOperation` class. These subclasses are a central location for specify

[2017-10-11 22:53] anthonyanjorin commented on #186
Thanks for the fast reply!  The trick was to add as many components as required.  Things seem to be working now using native operations.

[2017-10-17 09:00] Arikae opened #245 "Move UserDefinedRuntimeTGGAttrConstraintFactory from src to gen"

[2017-10-17 14:53] Arikae opened #246 "IndexOutOfBounds Exception in ReteSearchPlanAlgorithmSession->SearchPlan->UnionFind"
Which test to execute? -> FamiliesToPersons_MA_CCTestCase.testEmptyFamily

---

What happens? -> java.lang.IndexOutOfBoundsException: Only elements from the [0,6] interval is allowed

---

The tgg constraint which triggers this exception looks like this: (Daugther2Female.tgg)
#attributeConditions {
	concat(", ", daughter.name, family.name, femalePerson.name)
}

All 4 elements are bound because we

[2017-10-17 15:05] Arikae opened #247 "RuntimeException: Join Failed"
Where does the exception occur? -> CompanyToIT.cc.TestSimplePositive.testCompany

---

What happens? -> java.lang.RuntimeException: Join failed

---
Reason? -> At the moment we have no clue why this occurs but it never happens for ModelGen

---

Here the complete stacktrace:
[code]

[2017-10-17 15:16] Arikae opened #248 "Certain constraints are never evaluated"
Where does this happen? -> CompanyToIT.gen.SimpleModelgenTest->testAdmin

---

What happens? -> Contraints are not evaluated as long as a certain constraint is not commented out

---

The problematic rule is called AdminToRouter from CompanyToIT.
Defining the condition eq_string(it.name, network.name) leads to the problem that conditions are no longer evaluated (their corresponding TGGNativeOperat

[2017-10-25 09:22] Arikae commented on #241
Is this still a problem?
Then how did we solve it in emoflon-ibex-tests?

[2017-10-26 06:53] anthonyanjorin commented on #241
Yes it's still a problem. No idea - but that's what the issue is here for.

[2017-10-26 06:54] anthonyanjorin commented on #186
I'm closing this now as @Arikae has opened multiple more specific issues.

[2017-10-26 06:54] #186 closed, assigned to Arikae, anthonyanjorin, gervarro

[2017-10-26 06:56] anthonyanjorin commented on #232
Can consistency networks also exploit refinements?  Would be worth thinking about this.

[2017-10-26 06:58] anthonyanjorin opened #249 "Automatic NAC generation for bridge rules"
Bridge rules typically create green edges between black nodes.  We should generate NACs to block such rules when the edge to be created already exists between the two black nodes.  This is especially nasty for the model generator as such edges are just created again and again (EMF does nothing but the rule is applied multiple times leading to incorrect triples).

FYI: @smilicas @FStolte

[2017-10-30 08:25] gervarro commented on #246
Hi,

yesterday I quickly checked the reported issues, and I noticed the following line, which is most probably a configuration error:
https://github.com/eMoflon/emoflon-ibex-democles/blob/9fb9a9726e2d11ed0c886100257723a1de75ba5a/org.emoflon.ibex.tgg.runtime.democles/src/org/emoflon/ibex/tgg/runtime/engine/DemoclesEngine.java#L484-L485

The `org.gervarro.democles.plan.incremental.builder.AdornedNat

[2017-10-30 10:46] Arikae commented on #246
Hi Greg,

maybe then we misunderstood something but we didn't see a way to encode the different possible adornment configurations except by using AdornedNativeOperations.
Additionally, we saw that we cannot create new data frames with FilterComponents which seems essential.
How could we do the same with FilterComponents and how are free variables bound then?

Cheers,
Lars

[2017-10-30 10:51] anthonyanjorin commented on #246
We could also do both:  create filter components for all BB* cases, and adorned native operations for all other cases.  Is this perhaps what is expected?

[2017-10-30 15:13] gervarro commented on #246
Hi,

sorry, I was too imprecise. Use a `FilterComponent` for each `AdornedNativeOperation` independently of adornment configurations. (`AdornedOperations` and `(Filter|Constraint|Variable)Components` are independent concepts. AdornedOperation defines the batch behaviour, and components influence the construction of the incremental Rete network.) The restriction that a `FilterComponent` is only ava

[2017-10-30 20:08] anthonyanjorin commented on #246
Hi Greg, Lars,

after some trial and error, I think I have now implemented a FilterComponentBuilder as Greg suggested and added a FilterComponent for every AdornedNativeOperation.

Unfortunately we now get a "no valid search plan is available" Exception in almost all cases.
When debugging I can see that the FilterComponents are added (properly I hope!), but during the searchplan generation only th

[2017-10-31 09:23] gervarro commented on #246
Hi,

I am going to check the situation, as I am also not quite sure what should work properly.

Bests,
Greg

[2017-10-31 09:40] anthonyanjorin commented on #246
In case this helps:  after debugging a bit I have found that multiple filter component builders are registered correctly for every adornment, but PatternMatcherModule.lookupAdornedConstraintOperations goes through the list of builders and simply returns the first result that is not null.  So only one of the builders (typically BB* because that is first in the list) is queried and all other options

[2017-11-01 20:58] FabianMarcoBauer commented on #241
As far as I can tell, all tggs currently used in emoflon-ibex-tests don't have UserDefinedRuntimeTGGAttrConstraints. In this case it does not matter which Factory is loaded.
But as soon as a new tgg with UserDefinedRuntimeTGGAttrConstraint is added, a  `java.lang.RuntimeException: CSP <name> not implemented` will be thrown during the transformation, if the loaded factory is not from the new tgg.

[2017-11-01 21:32] anthonyanjorin commented on #241
@Arikae How does this change after our latest work and changes on the CSP branch?  You had to "fix" all tests right?  Perhaps this was already a solution to this problem?

[2017-11-08 10:17] Arikae commented on #246
Hi Greg,

any news on this issue?
Do you think this is a problem of our specification or some issue of democles itself?
Can we support you somehow?

Cheers,
Lars

[2017-11-09 00:13] gervarro commented on #247
This issue seems to be fixed now. The fix will be available together with the other ones.

[2017-11-10 22:52] gervarro commented on #246
Hi Lars,

this specific case is a bug in Democles, as this additional compoundness analysis (based on the union-find data structure) is completely new to speed-up the search plan generation in simple cases. I might have fixed the bug yesterday, but I cannot really test it, as I have problems with the Ibex developer workspace. I also updated the `TGGConstraintFilterComponentBuilder` implementation.

[2017-11-11 08:12] anthonyanjorin commented on #246
Hi Greg,

I just took a look at your fix for our FilterComponentBuilder.  Isn’t it a bit strange that you just return the filter component for the very first adorned operation?  Does this mean that any adorned operation is ok?  And only one is enough?  Or do you assume that the first adorned operation is always BB*?

[2017-11-15 17:05] gervarro commented on #246
Hi Tony,

I had some time to have a look at the complete process in details. Unfortunately I mixed up two different concepts, which resulted in a situation that my previous description was more or less correct, but the corresponding class names were not. The standard adornment configuration has to be carried out for the batch operations, while the Rete network construction process needs a single `

[2017-11-15 22:05] anthonyanjorin commented on #246
I believe @Arikae has updated the update site in the dropbox location.

Cheers,
Tony

[2017-11-17 14:05] smilicas opened #251 "Avoid generating pattern network for "ignore" rules in case of SYNC (fwd/bwd)"

[2017-11-17 14:30] gervarro commented on #248
Hi Lars,

could you please check whether the attribute lookup constraints are properly produced in the ibexToDemocles methods? For example the pattern `EmployeeToPCRule__GEN` contains only a pattern invocation constraint and a TGG attribute constraint (`eq_string(__foo___name:EString,__bar___name:EString`), but the attribute lookup constraints are missing (`name(foo:EObject, __foo___name:EString)`

[2017-11-17 15:03] anthonyanjorin commented on #248
Hi Greg,

this is an interesting point; I just discussed a bit with Lars.
Attached you can find a simplified EmployeeToPCRule that nonetheless explains what the "problem" is.

The point is that we sometimes have to determine attribute values **without** connecting them to any EObjects as they do not exist yet.  In this case the Employee and PC are to be created, but their names are to be "matched"

[2017-11-18 16:00] gervarro commented on #248
Hi Tony,

handling disjoint patterns is not a problem in itself, but randomly generated information might cause problems in an incremental setup due to two reasons:

1. The pattern matcher does not maintain explicit tracing information between the partial matches. Let us suppose that a pattern `P(A,B,CName,DName)` is given, and the structural partial match is `(a,b)` and the randomly generated Str

[2017-11-19 16:23] anthonyanjorin commented on #248
Hi Greg,

I’ve discussed this with Lars and we would suggest handling these cases just like disjoint patterns for the moment.

When we eventually have tests that fail due to (1) or (2) then we’ll think of something.  The general solution will require a batch interpreter as you say as the set of detached attribute constraints can be arbitrarily complex and require a search plan.

Our hope is just t

[2017-11-20 00:20] gervarro commented on #248
Hi Tony,

If the attribute constraints are not detached then the incremental engine should do the job (except for extreme cases), however, if they are clearly detached, then I have the expectation that the tests will fail due to (1) or (2), and that is why I recommended to handle these cases in the green pattern.

Btw. I committed a change that should handle detached attribute constraints accordin

[2017-11-20 16:26] smilicas opened #253 "MarkedPatterns are invoked twice (positive and negative invocation) for each node from invoking pattern"
The problem occurs in case when node1 from patternA negatively invokes markedPattern, and node2 from patternA positively invokes markedPattern. Then, both of nodes (node1 and node2) get positive and negative invocations.

After debugging we established that the double invocations are created during translation of Ibex pattern to Democles structure.
class: "DemoclesEngine",  code line: 215

This ha

[2017-11-22 23:45] gervarro commented on #246
The latest fixes are now available on the 2 update sites. Please check which issues have been actually resolved as I have a relatively chaotic Ibex installation now.

Bests,
Greg

[2017-11-23 16:02] Arikae commented on #246
Nice. I'm on it.

Cheers,
Lars

[2017-11-23 18:33] anthonyanjorin commented on #253
This should be fixed now, please check @smilicas
BTW:  I had to ignore one MA test that is now throwing an exception.

[2017-11-23 18:33] #253 closed, assigned to anthonyanjorin

[2017-11-24 18:34] Arikae commented on #246
Ok, I just debugged the ArrayIndexOutOfBoundsException.

Example:
testsuite.ibex.BenchmarxFamiliesToPersons.sync.BatchBwdEANdP - testCreatedMalePersonAsSon

What's happening?
ArrayIndexOutofBoundsException : 13

Problematic Retepattern:
FatherOfExistingFamilyToMale__CONSISTENCY/8

What's the reason for the exception?
We have 8 elements in the signature and 4 local variables. Additionally, we have

[2017-12-02 13:47] NilsWeidmann opened #256 "Creation of CorrPattern and call from WHOLE Pattern"
Exception "Could not initialize class" at org.emoflon.ibex.tgg.compiler.TGGCompiler.getFactory(TGGCompiler.java:79) occurs several times when executing TestSimplePositive of the TGG CompanyToIT.

[2017-12-02 17:23] anthonyanjorin commented on #256
Hi Nils,

the problem is that what exactly "signature" and "body" nodes/edges are is quite confusing and a bit chaotic at the moment.

I'll have to clean this up a bit on master first, before we can then try out integrating CorrPattern in WHOLE again.

I'm on it!

[2017-12-02 20:16] anthonyanjorin commented on #256
My results (just for my refactoring plans):

1.  Our signatures are actually just nodes.  The code currently hides this a bit and makes things more complex then they should be.  I’ve been able to clean this up.
2.  It makes sense to have signature nodes, local nodes, and local edges.  All these sets should be disjunct and this should be enforced in code.  Easier said than done as this is currently

[2017-12-04 14:16] Arikae commented on #246
Hi Greg,

did you have time to reproduce this?
Do you think my perception of the problem is correct?
I was a bit confused about how this could work in general when constants get indices that are not always used.

Cheers,
Lars

[2017-12-04 16:47] #256 closed, assigned to anthonyanjorin

[2017-12-04 16:49] anthonyanjorin opened #258 "Pattern refactoring: SYNC patterns"
Please refactor all patterns under /sync to use the new IbexBasePattern instead of IbexPattern.

Take a look at all other patterns without deprecation warnings to see how this is to be done (now largely convention-based).

[2017-12-04 16:50] anthonyanjorin opened #259 "Refactoring: CC patterns"
Please refactor all patterns under /cc so that they inherit from the new IbexBasePattern.

Take a look at all other patterns without deprecation warnings to see how this is to be done (now largely convention-based).

[2017-12-04 16:51] #238 closed, assigned to anthonyanjorin

[2017-12-05 13:23] NilsWeidmann opened #261 "TGG Editor should warn when TGG projects (schema) break the convention for the corr model"
Prefix "Benchmarx" is missing for correspondence model

[2017-12-05 13:25] NilsWeidmann opened #262 "PlantUML corr visualization looks cumbersome"
Correspondences should be visualized as arrows, not as nodes. Example code for FamiliesToPersons:

o7_PersonRegister <..> o1_FamilyRegister : "FamiliesToPersonsCorr"
o8_Male <..> o2_FamilyMember : "FamiliesToPersonsCorr"
o9_Female <..> o3_FamilyMember : "FamiliesToPersonsCorr"

o7_PersonRegister --> o9_Female : "persons"
o7_PersonRegister --> o8_Male : "persons"

[2017-12-05 13:36] anthonyanjorin commented on #261
@NilsWeidmann Could you commit and push the fix for the BenchmarxFamiliesToPersons project?

[2017-12-05 13:37] anthonyanjorin commented on #261
A warning should be generated by the editor if the name of the schema differs from the name of the TGG project.  While this is possible, we rely on this naming convention here and there, e.g., wrong corr models are generated.

[2017-12-05 21:16] #259 closed, assigned to smilicas

[2017-12-06 11:38] Arikae commented on #258
I refactored all sync pattern except Complement*Rule.
The code in those classes looks a bit confusing because isSignatureElement throws exceptions which is not very intuitive.

[2017-12-06 19:45] smilicas opened #265 "Create Util class for Filter NAC Patterns to avoid duplicated code"

[2017-12-06 20:03] #258 closed, assigned to Arikae

[2017-12-07 21:28] gervarro commented on #246
Hi,

sorry for the long delay, but I had to reinstall Eclipse and fix the plugin installation in my Ibex-Democles workspace.

This is a bug, which I already fixed in 2 lines, however, while analyzing the situation, I recognized that the current solution for the TGG attribute handling has to be reconsidered again. My questions regarding the relationship of `F*` adornments and your special disjoint

[2017-12-08 08:05] anthonyanjorin commented on #246
Hi Greg,

You’ve convinced me that we should analyse and separate all attribute constraints that are „green“ and are not connected in any way with the rest of the black pattern.

So my suggestion is that we stick to this:  in any pattern the pattern matcher receives, all attribute constraints will be directly or indirectly connected and dependent on the structural part of the pattern.  This implie

[2017-12-09 23:41] gervarro commented on #246
Hi,

I published a new version on the update sites that should fix the bug, and hopefully handles non-`F*` cases correctly. There is also a `TGGFilterComponent` that performs filtering in case of non-`F*` adornment, and performs a cross-join in case of disjoint patterns. The current configuration in `TGGConstraintComponentBuilder` uses the first strategy. If you need the second one, then replace `

[2017-12-10 19:45] anthonyanjorin commented on #246
Hi Greg,

I just tested the latest version of Democles.

Were all the tests green for you?  These are my results:

- Some (but not all) cc tests are green (all BB* cases)
- *All* other tests for TGGs with CSPs are red (failing) due to a Runtime Exception "No valid search plan available".

While I might expect and understand this for some gen tests (FF*), almost (if not all) all sync tests do not h

[2017-12-10 21:29] gervarro commented on #246
Hi Tony,

I cannot really run the developer version of Ibex, and as the latest modification affected the Democles engine configuration, I have not tested it. Could you please build me a new version of Ibex-Democles, and I am going to check what is going wrong? There might be a bug that probably affects the mixed adornment cases.

Bests,
Greg

[2017-12-11 10:24] anthonyanjorin commented on #246
Hi Greg,

I have now deployed two versions of Ibex for you in our dropbox (from Lars).  One version is with FilterComponent, the other with TGGFilterComponent.

I just tried to install both with a fresh Eclipse and this works (you might have to first enable the new update sites before they are used to automatically resolve dependencies to Democles and PlantUML).

I have also updated the PSF file i

[2017-12-13 21:48] gervarro commented on #246
Hi Tony,

the filter component was still too specific to check (`B+`) operations. The new version, which is already published on the update sites, now produces search plans for the other cases (`BF`, `FB`, etc.). I checked the tests superficially, and I recognized the following cases/issues:
- The gen cases still frequently fail. Just tell me if there are `FF` cases that the pattern matcher should

[2017-12-14 16:13] Sneha1602 opened #266 "Display Model consistency check result in console window"

[2017-12-14 17:07] #266 closed, assigned to Sneha1602

[2017-12-14 20:28] #262 closed, assigned to anthonyanjorin

[2017-12-16 06:43] #265 closed, assigned to smilicas

[2017-12-16 09:04] anthonyanjorin opened #269 "Refactoring: reorganise pattern classes"
Restructure pattern classes into meaningful packages and subpackages, consider renaming base classes consistently, ...

[2017-12-18 11:27] anthonyanjorin opened #270 "getCyclicDependenciesBetweenBundles is currently very inefficient"
In a current profiling session, it turns out that ```getCyclicDependenciesBetweenBundles``` is extremely inefficient (almost half the time was spent here) :)

Not sure what is happening here but I don't think this has to be the case.

[2017-12-18 11:27] anthonyanjorin commented on #270
@erhanleblebici  FYI

[2017-12-19 09:00] Arikae commented on #246
Alright, just fixed the issue with our stateful TGGAttributeNativeOperations.

Cheers,
Lars

[2018-01-21 16:32] #269 closed, assigned to nobody

[2018-01-21 17:38] #248 closed, assigned to gervarro

[2018-01-21 17:38] #247 closed, assigned to gervarro

[2018-01-21 17:39] #246 closed, assigned to gervarro

[2018-01-29 12:52] anthonyanjorin opened #275 "problems with RuntimeTGGAttributeConstraint"
Although "int" is handled, strangely enough "double" is not?  The if/else cascade in this class is rather strange anyway.

[2018-01-29 13:01] manojkeshava opened #276 "validation for the presence of ecore files in _RegistrationHelper.registerMetamodels()"
validation for checking if the ecore files trying to register are present on the specified path.

[2018-01-29 14:42] RobinOppermann opened #277 "NACs with attribute conditions do not work"
Example:
[IngredientToIngredient.txt](https://github.com/eMoflon/emoflon-ibex/files/1673922/IngredientToIngredient.txt)

The editor does not allow using "i", or "existingI" or any of their attributes within the attribute condition.
Instead it suggests correspondences from a completely different rule

[2018-01-29 16:22] anthonyanjorin commented on #226
This is certainly a problem:  see #277
Closing this now as duplicate for #277

[2018-01-29 16:22] #226 closed, assigned to anthonyanjorin

[2018-02-04 14:41] smilicas opened #279 "Fused patterns should have more appropriate names"
Instead of "FFF"

[2018-02-04 22:10] anthonyanjorin commented on #251
@smilicas Is this obsolete?  Can we close it now?

[2018-02-04 22:11] #236 closed, assigned to anthonyanjorin

[2018-02-12 09:54] anthonyanjorin commented on #243
Won't work as we won't be able to specify translation NACs easily (no base type for all marker edges)

[2018-02-12 09:54] #243 closed, assigned to anthonyanjorin

[2018-02-14 08:02] anthonyanjorin opened #281 "Get rid of your warnings (I have 6 in Dev and 21 in Test currently)"

[2018-02-14 17:21] patrickrobrecht commented on #281
@anthonyanjorin @NilsWeidmann For the test projects the warnings are fixed in https://github.com/eMoflon/emoflon-ibex-tests/pull/39

[2018-02-16 09:20] patrickrobrecht commented on #281
This is fixed since yesterday.

[2018-02-16 09:20] #281 closed, assigned to NilsWeidmann

[2018-02-21 15:16] srijanighosh87 opened #287 "Incorrect setter method for projectName in IbexOptions class in org.emoflon.ibex.tgg.core.runtime"
Value being set in incorrect field.

public IbexOptions projectName(String projectName) {
		**this.projectPath = projectName;**
		return this;
}

[2018-02-21 21:53] #287 closed, assigned to anthonyanjorin

[2018-02-22 11:55] anthonyanjorin opened #289 "Add incremental parts to the API"
Right now the API is rather standard.  More interesting would be support for things that only an incremental pattern matcher can support.

Please brainstorm a bit and think out of the box :)

Here are some ideas:

- ```whenMatchAppears(Consumer<M> c)```
- ```whenMatchDisappears(M match, Runnable r)```
- ???

[2018-02-22 13:05] patrickrobrecht commented on #289
As we only have simple constraints so far, the model cannot be changed via graph transformation and therefore the set of matches will be constant after the initial loading. So I don't really understand why such listeners for new/disappeared matches should be relevant before adding/deleting is implemented: You simply would not get any notifications except for the matches you can access via `findMat

[2018-02-22 15:42] anthonyanjorin commented on #289
Easy:  I can change the model myself via the normal EMF API :)

[2018-02-22 15:44] anthonyanjorin commented on #289
A simple scenario:  I have a pattern defining the end of the game (all characters on an exit or whatever), and I want to transition to the next puzzle as soon as a match is found.  Doesn't that make sense?  In general, I might not want to use GT for everything...  especially if the user is actually changing the models directly...

[2018-02-22 16:12] NilsWeidmann opened #290 "Handle non-progressive TGGs by not applying Ignore Rules at all"
Tests which should pass then:

TestClassInhHier2DB - TestBWD_OPT
TestClassInhHier2DB_MA - TestBWD_OPT
TestClassMultiInhHier2DB_MA - TestBWD_OPT
TestFamiliesToPersons_MA - TestBWD_OPT

[2018-02-22 16:27] anthonyanjorin commented on #290
The function to check for this must exist already. After all, SYNC must handle this.

[2018-02-22 20:02] #290 closed, assigned to NilsWeidmann

[2018-02-22 20:43] NilsWeidmann commented on #290
Yes, but it apparently does not work in FWD/BWD OPT, does it?

[2018-02-22 21:41] anthonyanjorin commented on #290
Now it does :)

[2018-02-23 20:24] patrickrobrecht commented on #289
My first thoughts on this: `whenMatchAppears(Consumer<M> c)` subscribes all new matches for a certain pattern, we may provide the possibility to unsubscribe the notifications later if you are not interested in new matches anymore.

- `subscribeNewMatchNotifications(Consumer<M> c)`
- `unsubscribeNewMatchNotifications(Consumer<M> c)`
- `subscribeDisappearingMatchNotifications(Consumer<M> c)`
- `unsu

[2018-02-23 21:50] anthonyanjorin commented on #289
Makes sense - to keep the methods shorter we could use:

- subscribeAppearing(Consumer)
- unsubscribeAppearing(Consumer)
- subscribeDisappearing(Consumer)
- unsubscribeDisappearing(Consumer)
- whenMatchDisappears(Consumer)

We could postpend „Matches“ to the first four methods, but I don’t really think it’s necessary.

With some experience one could decide if methods with the number of appeared ma

[2018-02-24 17:57] #289 closed, assigned to patrickrobrecht

[2018-03-19 16:22] erhanleblebici opened #303 "Switch to SAT4j to simplify setup"

[2018-03-20 10:28] RobinOppermann opened #305 "CO saves corr model"
Currently the CO strategy does not overwrite saveModels() which results in using the method of CC that is saving the corr model.

[2018-03-20 12:33] anthonyanjorin opened #306 "Can't locate org.emoflon.ibex.common.editor.utils.IBeXWorkspaceHelper"
... and this is required in GTNewFileWizard

[2018-03-21 12:15] #306 closed, assigned to patrickrobrecht

[2018-03-21 12:17] anthonyanjorin commented on #232
Remaining ideas:

1.  Whole and consistency patterns should exploit refinements (marked patterns?)
2.  Translation PACs can also be reused in SYNC networks

[2018-03-21 12:17] anthonyanjorin commented on #251
@smilicas Is this still relevant?  I don't understand it anymore.

[2018-03-21 12:18] anthonyanjorin opened #307 "Consequent usage of debug levels of Log4j"
Currently we have a strange mixture of IbexOptions.debug and the debug levels of Log4J.  We need a consequent and clear strategy here.

[2018-03-21 13:36] #305 closed, assigned to NilsWeidmann

[2018-03-21 14:15] RobinOppermann opened #308 "CO strategy falsely says models are inconsistent / circle detection for multi-amalgamation"
All required matches are found by the strategy, but an exclusion for the ILP is defined resulting in not being able to choose the correct match.
This is because a cycle is detected between a kernel and complement even though there should not be one.
CC works because in CC there is no cycle detected.

[2018-03-21 14:16] RobinOppermann commented on #308
[ExampleCObug.zip](https://github.com/eMoflon/emoflon-ibex/files/1833613/ExampleCObug.zip)

[2018-03-22 18:43] anthonyanjorin opened #309 "Non-injective match is found"
Run the attached GT project as a JUnit testsuite.  One of the tests will fail.  The sysouts show that the match is (as far as I can tell) non-injective but is still reported as a match.

[nonInjectiveMatchBug.zip](https://github.com/eMoflon/emoflon-ibex/files/1838998/nonInjectiveMatchBug.zip)

[2018-03-23 08:05] anthonyanjorin commented on #270
Hard to reproduce as I didn't not which TGG exactly...  I'm closing this as there's another issue where we can profile currently very inefficient TGGs...

[2018-03-23 08:05] #270 closed, assigned to smilicas

[2018-03-23 08:10] anthonyanjorin opened #310 "Clean up all your code, fix or remove any of your TODOs/FIXMEs in all repos"

[2018-03-23 14:29] smilicas commented on #308
The problem arises because complement rule match is collected in the bundle with the kernel that it does not belong to. Assumption that we had before (that is also implemented in the code) is that the complement rule match is available only after its "parent" kernel is applied (OPT.java, line 321), however this temporal assumption shown to be wrong.
Suggestion for updating the implementation: coll

[2018-03-23 14:52] anthonyanjorin commented on #308
We should also try first to remove all code handling „maximality“.  This is supposedly obsolete anyway.

[2018-03-24 20:49] anthonyanjorin opened #313 "***App generation"
I just tried out the latest state (which might not yet be finished ok..):

- I have compilation errors in my generated App due to wrong imports such as
[code]

The b in businessrulesPackage has to be capitalised but is not.

A second point is that I would suggest making everything in ***App protected.  This class is basically a stub that the user can use to start with.  But it should leave everyth

[2018-03-24 20:55] anthonyanjorin commented on #313
Btw.  even after correcting the imports by hand I still couldn't get anything running as I was unable to set the workspace path for Democles.  The problem is that IContextPatternInterpreter provides the method createAndPrepareResourceSet but your generated **App does not use this method :(

And everything is private so I couldn't override anything.

[2018-03-24 22:05] patrickrobrecht commented on #313
https://github.com/eMoflon/emoflon-ibex/pull/314 corrects the imports and makes the variables `protected`.

I don't use `createAndPrepareResourceSet` for anything - and the tests and the following example are working fine:
[code]

The `OperationalStrategy` seems to be the only user of this method. To be honest, I haven't understood why the engine has a method for creating a resource set.

[2018-03-24 22:43] anthonyanjorin commented on #313
Simple answer:  everything you do as well and in addition, platform:/resource is mapped to the workspace path.

If you try to use platform:/resource/Foo/instances/Test1.xmi your test won’t work.

platform:/resource URIs are sometimes preferred to relative URIs as they are „absolute“ with respect to the workspace root.

So either you perform this mapping in your helper/API as well and we remove the

[2018-03-24 22:44] anthonyanjorin commented on #309
And?  Any experiments yet?  I’m very intrigued...  :)

[2018-03-25 09:13] #313 closed, assigned to patrickrobrecht

[2018-03-25 09:39] anthonyanjorin commented on #309
@patrickrobrecht You can ignore the attachment.  I just added my set of tests for the lecture to our testsuite (and updated the PSF).  You now have access to the new respository so you can migrate my code/tests after API changes.

[2018-03-25 16:05] patrickrobrecht commented on #309
I can confirm that the generation of injectivity constraints has a bug: If the two classes are different, no injectivity constraint is generated. If one is the super class of the other, there should be an injectivity consraint in the IBeXPatterns, resulting in an unequal constraint in Democles.

[2018-03-26 20:43] patrickrobrecht commented on #309
https://github.com/eMoflon/emoflon-ibex-ui/pull/72 should solve the issue.

[2018-03-27 08:12] #309 closed, assigned to patrickrobrecht

[2018-03-28 18:15] #310 closed, assigned to smilicas

[2018-04-16 21:01] patrickrobrecht commented on #303
@RobinOppermann implemented this already, right?

[2018-04-17 07:18] #303 closed, assigned to anthonyanjorin

[2018-04-19 20:44] anthonyanjorin opened #322 "Always use URI.createFileURI when creating URIs from file paths"
Currently, the generated API contains the following method:

[code]

This can be problematic if, e.g., workspacePath is "C:\foo\bar\" but patternPath is always "Foo/src-gen/Foo/api/ibex-patterns.xmi".  As far as I can tell, this leads to problems when trying to load the URI.

I suggest using ```URI.createFileURI``` instead of URI.createURI in both constructors of the generated API.  If I understan

[2018-04-20 12:47] anthonyanjorin commented on #322
I just reproduced this now on a Windows machine.  Using URI.createFileURI consistently in the generated API solves all problems.

[2018-04-21 06:34] #322 closed, assigned to patrickrobrecht

[2018-04-23 17:19] #251 closed, assigned to anthonyanjorin

[2018-04-23 17:19] #234 closed, assigned to anthonyanjorin

[2018-04-24 09:22] anthonyanjorin commented on #232
An additional idea:  We could inspect and remove all trivial patterns from the network (trivial here means there are just nodes without any edges or attribute conditions).  Just had a look and we have quite a few (depending on the TGG, op, and current settings).

What do you think @NilsWeidmann ?

[2018-04-30 10:30] anthonyanjorin opened #326 "GT API: consider renaming rule to createRule"
the api call `api.rule()` does not return a singleton but creates a new instance of the rule every time.  This is important for subscription etc so it might be better to hint at this by using `api.createRule()` instead.

[2018-04-30 12:31] patrickrobrecht commented on #326
But what if the rule's name in the editor specification starts already with `create` or `delete` etc.? Then this convention sounds weird as it could lead to names such as `createCreateFamily()` or `createDeleteFamily()` for editor rules `createFamily` and `deleteFamily`.

[2018-04-30 14:35] anthonyanjorin commented on #326
Hmm...  interesting aesthetic point ;)

Our options:
1.  Live with it
2. Use `newInstanceOfXXX`
3. Use `newXXX`
4. Use `createInstanceOfXXX`

You can choose whatever you prefer as long as it contains `new` or `create` in it.

[2018-04-30 14:50] patrickrobrecht commented on #326
Doesn't option 3 can lead to weird names as well if a user names a rule `newSomething` (in the API: `api.newNewSomething()`)?

[2018-04-30 14:58] anthonyanjorin commented on #326
Well...  I would say that users should go for verbs, i.e., `createFoo` or `findFoo` instead of `newFoo`.
New sounds like a constructor invocation of some kind and that fits quite ok.

[2018-05-06 19:19] anthonyanjorin opened #329 "GT App: Introduce a terminate method"
The TGG apps all have a terminate method with which all Democles adapters can be removed from the resource set and all contained models.

This would also be useful for GT apps (please check latest PR from Robin for how to implement this terminate method -- perhaps this is something we should also share between GT/TGG apps).

[2018-05-06 20:19] anthonyanjorin opened #330 "GT multiple dependent metamodels?"
I don't really know why nothing works with this current setup:

- `org.emoflon.ibex.handbook.preprocessing.TestPreprocessor.test()`
- branch `sokoban-final-solution`

No matches are found as far as I can tell (and I can't explain why).

[2018-05-07 07:30] anthonyanjorin commented on #330
I guess this must be a URI-related problem...  I guess the GT rules refer to the types via a different URI than the models do.  I'll try to confirm this.

[2018-05-07 09:51] #329 closed, assigned to patrickrobrecht

[2018-05-07 11:01] anthonyanjorin commented on #330
Ok so the problem is that `GraphTransformationInterpreter::loadPatternSet` creates its own ResourceSet and uses this to load the patterns.

This is problematic as the user might have configured a very complex resource set with lots of mappings and registered metamodels etc.  In general it is impossible to know how to load the patterns and resolve all type references correctly (and in my case this

[2018-05-07 12:58] #330 closed, assigned to patrickrobrecht

[2018-05-11 16:21] patrickrobrecht opened #335 "TGG build: Can cause NullPointerException"
The TGG build may cause a `NullPointerException`.

Example when importing the PSF for the [sokoban-final-solution branch](https://github.com/eMoflon/emoflon-ibex-examples).

![Screenshot](https://user-images.githubusercontent.com/12370952/39934965-0c896566-5537-11e8-9ee8-637b38182d60.png)

[2018-05-14 20:31] patrickrobrecht opened #336 "GT API: Provide linking to source file"
In a Java class (pattern/rule or match) of the generated API one should be able to jump to the `gt` file containing the pattern/rule with one click.

Hint: extension point `org.eclipse.ui.workbench.texteditor.hyperlinkDetectors` (see https://github.com/eMoflon/emoflon-ibex-ui/pull/74)

Maybe use an annotation to place a link to the source file in the generated code? (to avoid to search for the `gt

[2018-05-15 06:21] srijanighosh87 opened #337 "minimumNumberOfEdgesToCreateEdgePatterns optimizer takes value less than 2"
The optimizer minimumNumberOfEdgesToCreateEdgePatterns should not take any values less than 2 while creating IbexOptions.

[2018-05-15 06:36] anthonyanjorin commented on #337
@NilsWeidmann I suppose any value <= 2 is senseless correct?  I suggest you throw an IllegelArgumentException right in IbexOptions.

[2018-05-15 07:07] anthonyanjorin commented on #337
Btw. I wonder if we should have an automatic max for extremely large patterns, say with over 15 edges.

[2018-05-16 17:33] anthonyanjorin commented on #337
Can we close this now? @NilsWeidmann

[2018-05-16 17:34] #307 closed, assigned to anthonyanjorin

[2018-05-16 17:35] anthonyanjorin opened #339 "CO: Generated protocol contains abstract TGG rules"
To reproduce work through TGG handbook to the point were CO is used for an inconsistent triple.  The generated protocol contains a rule application for an abstract rule.

[2018-05-16 18:24] anthonyanjorin opened #340 "Ease usage of OPT strategies via generation of automatic reg code"
Currently I don't use the OPT apps because I need to write different registration code and this is an extra hurdle :(

As we have to operate directly and only on .ecores, we could actually generate the registration code 100% automatically for these ops based on the import statements from the editor (at least when they reference .ecores).  This would considerably reduce the initial effort for using

[2018-05-17 12:13] patrickrobrecht commented on #340
Note that this is actually implemented for the GT part. If the path to the Package class cannot be derived automatically the user needs to add an import mapping to a properties.xmi file.

[2018-05-25 08:20] anthonyanjorin opened #345 "Introduce a "CollectionFactory" so we can flexibly swap collection libraries"
Trove, FastUtil, and so on are all promising libraries that can help to speed up IBeX.  As usual how much they help depends on the concrete TGG, relevant ops, and probably model size and available memory.  So the choice of our collections at important points in the system should be made flexibly configurable as an additional optimisation dimension.

[2018-05-25 13:28] anthonyanjorin commented on #308
Some updates:
- The maximality check is required after all.
- The problem here is (as the title already clearly states) only a problem for CO.
- The reason that the temporal assumption for collecting bundles correctly is violated, is because CO patterns are simply WHOLE patterns without any additional structure for amalgamation.  What we have to do is perhaps create CO patterns that are amalgamati

[2018-06-07 08:59] Arikae commented on #223
Done

[2018-06-07 08:59] #223 closed, assigned to Arikae, anthonyanjorin, erhanleblebici

[2018-06-08 07:44] Arikae commented on #277
Hi,

could you provide the full example so that I can import it within my workspace to fix this?

[2018-06-08 14:42] Arikae commented on #275
Is this already fixed?
I just checked and the only part related to double can be found in the generateValue method which looks correct and generates int, doubles, strings etc.

[2018-06-08 14:48] Arikae commented on #241
This should still be a problem and I guess this issue is related to #245 .
When I move the UserDefinedRuntimeTGGAttrConstraintLibrary to gen, I can also rename the namespace to contain the project name (similar to our runtime stubs).
This should solve the issue.

[2018-06-08 15:38] #340 closed, assigned to NilsWeidmann

[2018-06-08 15:55] Arikae commented on #245
We do not have any gen folder anymore -> Closed

[2018-06-08 15:55] #245 closed, assigned to Arikae

[2018-06-08 15:57] Arikae commented on #276
Is this still necessary or will this be fixed together with #340 ?

[2018-06-08 16:36] anthonyanjorin commented on #276
Right - it's now obsolete.

[2018-06-08 16:36] #276 closed, assigned to Arikae

[2018-06-08 20:41] Arikae commented on #277
The textual syntax has been extended to support attribute conditions for nacs. However, we still have no nac example in our testsuite.

[2018-06-14 11:37] patrickrobrecht commented on #326
In our evaluation with end-users nobody named this as a problem. Users of the API will have to read at least a little of the documentation anyway.

[2018-06-14 11:37] #326 closed, assigned to patrickrobrecht

[2018-06-14 18:13] #241 closed, assigned to Arikae

[2018-06-14 20:06] #308 closed, assigned to NilsWeidmann, anthonyanjorin

[2018-06-14 20:09] #232 closed, assigned to NilsWeidmann, anthonyanjorin

[2018-06-14 20:10] anthonyanjorin opened #352 "Optimisation idea: remove redundant patterns?"
An additional idea: We could inspect and remove all trivial patterns from the network (trivial here means there are just nodes without any edges or attribute conditions). Just had a look and we have quite a few (depending on the TGG, op, and current settings).

[2018-06-17 17:42] anthonyanjorin opened #353 "Amalgamation: Complement rules should be able to refine a simple rule"
To avoid copy&paste among complement rules, we could at least allow them to refine a simple rule (simple in the sense that it is "flat", i.e., has no super or complement rules itself).

[2018-07-21 09:59] anthonyanjorin opened #363 "Some reasons why MA might be inefficient"
1.  We currently create normal and fused patterns for all combinations of kernel and complement rules even though this might not be necessary at all.  We could apply a static analysis to decide and only create necessary patterns.
2.  We could try to impose some order to speed things up and avoid nonsensical matches.  E.g., always apply complement rules as soon as they are present (instead of waiti

[2018-07-30 14:58] NilsWeidmann opened #365 "FWD/BWD_OPT do not handle NACs correctly"
In CC and CO, it is sufficient to check the input models for NACs because they are already complete and the correspondence model does not contain any NACs. However, NACs on the target side cannot be considered in FWD_OPT and NACs on the source side in BWD_OPT vice versa.
An idea would be to encode application conditions in ILP constraints.

[2018-08-02 13:00] anthonyanjorin opened #366 "Automatically inferred "ignore rules""
For pragmatic reasons, it should be possible to work well with a TGG that is incomplete in the sense that a lot of types are simply not yet handled in the TGG.

I'm not sure if this works already, but we certainly don't have any tests that ensure that this does not break in future.  This also has to be implemented and tested for all Ops.

[2018-08-10 12:47] rjulius-hsu opened #367 "Custom condition could not resolved"
Hi,
I’m trying to use an own attribute condition. I have defined my condition in the Schema.tgg and can find the corresponding Java class in the package **org.emoflon.ibex.tgg.operational.csp.constraints.custom**. Within my TGG-Rule the Condition couldn't resolve reference to AttrCondDef and if I try to build my project I receive the following Error: **ERROR [transformation.EditorTGGtoFlattenedTGG

[2018-08-10 12:51] anthonyanjorin commented on #367
Are you sure you used the keyword #userdefined for your new attribute condition?
Please post the declaration of your attribute condition here (from your Schema.tgg).

[2018-08-10 12:58] rjulius-hsu commented on #367
Here it is:
#userDefined
conActionSimple(modus: EInt, conStep: EString,  conDeactStep: EString, StepId: EInt,  saType: storedActionType, timeType: timeConType){
	#sync: [B B B B B B], [F F F F F F]
	#gen: [B B B B B B ], [F F F F F F]
}

But it also doesen't work with a simple conditions:
#userDefined
test(a: EString){
	#sync:[B]
	#gen:[B]
}

[2018-08-10 13:54] anthonyanjorin commented on #367
Could you upload a minimal  example (zip) that still doesn’t work?  I’m having problems reproducing this.

[2018-08-10 14:15] anthonyanjorin commented on #367
Did you create your TGG rule with the new TGG rule wizard?

To resolve the attribute condition you need the following directive as the first statement in your TGG file:
[code]
E.g., the following minimal rule works for your example:
[code]

If that doesn't help then I would need a minimal example to reproduce the problem.

[2018-08-10 14:37] rjulius-hsu commented on #367
Now it works. My fault was an incorrect SchemaName. Thanks a lot!!

[2018-08-10 14:37] #367 closed, assigned to anthonyanjorin

[2018-08-20 08:39] anthonyanjorin commented on #345
Only the ILP sub package is left

[2018-08-20 08:40] anthonyanjorin commented on #345
FYI:  @Arikae We now have a "collection factory" as you suggested.

[2018-09-02 16:39] anthonyanjorin opened #368 "Optimisation: Produce Delete Events from GreenInterpreter?"
The green interpreter knows in some cases that a certain match is now invalid.  It could produce a delete event in such cases so that the operation is informed and can directly invalidate the match.

[2018-09-05 08:38] anthonyanjorin opened #369 "Bug with rule refinement: Static analysis"
Refinement does not seem to work correctly for overriding correspondence types.

Subtypes should win, but we should also complain if there is no clear "lowest" subtype.  Currently we just pick one of the types without any warning or error.

[2018-10-04 14:59] #345 closed, assigned to RobinOppermann

[2018-10-04 14:59] #352 closed, assigned to nobody

[2018-10-04 14:59] #201 closed, assigned to anthonyanjorin

[2018-10-04 14:59] #235 closed, assigned to anthonyanjorin

[2018-10-04 15:00] #249 closed, assigned to anthonyanjorin

[2018-10-04 15:00] #337 closed, assigned to NilsWeidmann

[2018-10-04 15:03] anthonyanjorin opened #376 "Filter-NAC Optimisations"
Filter NACs can be quite costly (we don't yet know how costly).

Here are some ideas to reduce the number of filter NACs we currently generate:
- Don't generate filter NACs if the forbidden structure is impossible anyway (multiplicities 0..1, container semantics, multiplicities and other matched edges in the same pattern?, ...)
- Check if we handle the case where the forbidden edge can never be tr

[2018-10-31 08:34] #239 closed, assigned to gervarro

[2018-10-31 08:35] #275 closed, assigned to Arikae

[2018-10-31 08:35] #363 closed, assigned to anthonyanjorin

[2018-10-31 08:37] anthonyanjorin opened #377 "Correct constraint generation in CC/CO (related to amalgamation bundles)"

[2018-10-31 08:39] anthonyanjorin opened #378 "Establish an interface for monitoring/reporting/interacting with our operations"
Perhaps similar to IProgressMonitor in Eclipse?
An implementation of this should simply calculate and collect all kinds of statistics for the execution including:
- the size (# of nodes and edges) of all input and output models?
- memory consumption?
- runtime of different phases?
- number of matches found for each pattern?
- size of generated patterns?
- size of the TGG?
- ...

[2018-10-31 08:40] anthonyanjorin opened #379 "Establish an interface for transformations of the pattern invocation network"
With implementations e.g. for:

- flat networks (easy debugging)
- extracting all edges
- diamond structure for consistency patterns
- other simple decompositions?

[2018-11-07 15:41] LegionaryCohort commented on #261
I take it the "name of the schema" is the name that is specified in the org.emoflon.ibex.tgg.Schema.tgg of a TGG project, preceded by the "#schema" keyword?
And this name should match the name of the TGG project that Schema.tgg file is contained in?

[2018-11-07 15:47] NilsWeidmann commented on #261
Yeah, that's correct.

[2018-11-07 17:21] anthonyanjorin commented on #261
@LegionaryCohort Have you found out what happens when this condition is violated?  I’m not sure this issue is still relevant and I can’t remember what goes wrong when the names differ (also important to decide if this is to be a warning or error).

[2018-11-07 17:47] LegionaryCohort commented on #261
So far I've tested this by renaming the schema in one of the test-projects to mismatch the project name.
As far as I can tell everything still works fine. It still generates models that look correct and doesn't complain about anything along the way.
Can't be sure that I'm not overlooking anything though. I'll try and see what happens with a few other projects.

[2018-11-07 20:43] anthonyanjorin commented on #261
According to my previous comment, generated correspondence models appear to be affected (I suppose they rely on the naming convention — name and location of the correspondence metamodel — to type correspondence links)

[2018-11-08 08:53] filipgia commented on #335
Can't reproduce the bug.

[2018-11-08 08:53] #335 closed, assigned to 09Ankita

[2018-11-08 12:13] filipgia commented on #279
Name changed to _FUSED_

[2018-11-08 12:19] anthonyanjorin commented on #279
@filipgia How about the pull request for this?  Please close when the pull request has been created.

[2018-11-08 14:16] #279 closed, assigned to 09Ankita

[2018-11-23 12:35] anthonyanjorin commented on #339
Can't reproduce as specified.  Perhaps this has already been fixed.

[2018-11-23 12:35] #339 closed, assigned to JaneJose, 09Ankita

[2018-11-27 09:53] anthonyanjorin commented on #261
Any further progress?  Have you now been able to reproduce?

[2018-11-27 09:54] anthonyanjorin commented on #369
Any progress?  Have you been able to reproduce?

[2018-11-27 09:56] anthonyanjorin commented on #336
Any progress?  Have you been able to reproduce?  Is it clear what this issue means?

[2018-11-27 09:56] anthonyanjorin commented on #277
Any progress?  Have you been able to create a concrete example as a test?

[2018-11-27 09:57] anthonyanjorin commented on #378
Any first ideas on this issue?

[2018-11-27 09:58] anthonyanjorin commented on #379
Any first ideas on this issue?

[2018-11-27 10:56] filipgia commented on #369
Hello,
@saman and I had two meetings with @NilsWeidmann . We are investigating on this issue. Right now, we have three breakpoints. We are trying to find the way to make a sup-type win and log it with the Logger.

[2018-11-27 10:59] anthonyanjorin commented on #369
ok - so first concentrate on simply reproducing right?  That means I believe a clear subtype must win at the moment.  The problem is more when there is no clear lowest subtype.  This is a specification error and must be flagged as such.  Instead at the moment something just happens.

E.g.:

[code]

If you then have a rule X with CorrB, a rule Y with CorrC, and a rule Z that refines X and Y you sho

[2018-11-27 11:29] filipgia commented on #369
Yes it is clear. At the moment we are using
 [FeatureModelConciseToSafe](https://github.com/eMoflon/emoflon-ibex-tests/tree/master/testsuites/Testsuite/test/testsuite/ibex/FeatureModelConciseToSafe ). But we will also try your example.

[2018-11-27 12:58] anthonyanjorin commented on #369
That’s fine.  Any example is ok if you can reproduce the problem.

[2018-11-28 22:10] LegionaryCohort commented on #261
Yes, sorry, I've been able to reproduce the error. Forgot to reply since then, currently working on producing a sensible error-message for this problem.

[2018-11-29 16:01] LegionaryCohort commented on #261
I've been successful in adding an error message that is displayed when the schema name and project name mismatch. However, I don't know how to limit this error to the line containing the schema name. As it stands, the entire file is marked red. Is there some way to get a reference to an EStructuralFeature that only represents the single line containing the name definition?

[2018-11-29 16:15] anthonyanjorin commented on #261
Hi @LegionaryCohort

are you in the context of an xtext editor?  If yes then you could just check how other error messages are located correctly in the file.

If not then I guess you're creating the problem marker yourself?  I believe the API takes a line or so.  To get this line you would have to use a regexp or similar on the file (as a string) and guess the line.

Could you provide some more in

[2018-11-29 16:23] LegionaryCohort commented on #261
The error is created through the TGGValidator. I've simply added an additional check that takes a TGG-file and, if `schema!=null`, checks the name against the project's name (using `file.eResource().URI` to determine the project the file belongs to).

[2018-11-29 16:54] anthonyanjorin commented on #261
Ok - so you mean this here right?  https://github.com/eMoflon/emoflon-ibex-ui/blob/master/org.emoflon.ibex.tgg.editor/src/org/moflon/tgg/mosl/validation/TGGValidator.xtend

Then it should be pretty easy:

the error method provided by Xtext is invoked with `error(message, eObj, structuralFeature, id)`

In your case the eObj is perhaps TripleGraphGrammarFile and structural feature FILE_SCHEMA or so?

[2018-11-29 17:06] LegionaryCohort commented on #261
I'm currently invoking the `error` function like such:
`error(
					"The schema name must match the project name.",
					TggPackage.Literals.TRIPLE_GRAPH_GRAMMAR_FILE__SCHEMA,
					TGGValidator.SCHEMA_NAME_DOES_NOT_MATCH_PROJECT_NAME
				)`

This places the error at the correct line, but marks all subsequent lines red as well. While this technically fulfills the requirements of this issue, it's ra

[2018-11-29 17:07] anthonyanjorin commented on #261
Hmm...  don't you have to specify the eObject as well?  I think the error method can take 4 parameters.

[2018-11-29 17:12] LegionaryCohort commented on #261
This compiles and works perfectly fine (and other checks use the method the same way), but there is also the option for specifying an eObject. Not sure what to put there though, specifying the TGG-file itself (unsurprisingly) doesn't change anything.

[2018-11-29 17:18] anthonyanjorin commented on #261
ahh... how about trying to "navigate" to the name of the schema?  So SCHEMA_NAME instead of FILE_SCHEMA?

[2018-11-29 17:19] anthonyanjorin commented on #261
See how this is done in `def checkForUniqueNames(NamedElements ne)`

[2018-11-29 17:19] anthonyanjorin commented on #261
That should do the trick:  you want to underline the *name* of the file

[2018-11-29 17:27] LegionaryCohort commented on #261
Since SCHEMA_NAME doesn't directly exist (because the NAME attribute is inherited from NAMED_ELEMENT), I'm not sure how to navigate to the appropriate element. I'll see if I understand how this is done in `checkForUniqueNames` and get back to you.

[2018-11-29 17:32] anthonyanjorin commented on #261
I think `TggPackage.Literals.NAMED_ELEMENTS__NAME` should just work

[2018-11-29 17:37] LegionaryCohort commented on #261
It doesn't unfortunately, I just tried that. It just causes an error for the Validator.
Which I guess makes sense though, because how would it know which NamedElement is being referred to as the source of the error?

[2018-11-29 17:43] LegionaryCohort commented on #261
I'm thinking in order to get the correct line marked, I need to step through all the NamedElements in the TGG-file and then pick the one that is the actual Schema. Then I can use that element as the source and specify NAMED_ELEMENTS__NAME as the structural reference.
Really feels like a workaround though, there must be a more direct way to get to the name attribute of the Schema...

[2018-11-29 17:45] anthonyanjorin commented on #261
just grab the schema from the file?  file.getSchema() as eObject to the error method?

[2018-11-29 17:45] anthonyanjorin commented on #261
(you need to use the four parameter version of the error method)

[2018-11-29 17:47] LegionaryCohort commented on #261
Ok, I am most definitely in need of a break. That was way too obvious...
Works like a charm now.

How do I commit my changes to the repository? Is there any specific procedure/guidelines/whatever, or do I just push my changes as I would with any other project?

[2018-11-29 17:51] anthonyanjorin commented on #261
YAY!!!

1.  You create a new branch and commit your changes to it (name the branch sensibly and be careful not to lose your changes).  Push the branch to GitHub.
2.  You create here in GitHub a pull-request from your branch to master and assign me as responsible or whatever
3.  That's it (I'll eventually get to merging all open pull-requests)

[2018-11-29 18:05] LegionaryCohort commented on #261
Ok, assuming I didn't screw anything up, the changes should be online with a review requested from you.
I'll leave this issue open until you've had a chance to look at my changes and merge them.

[2018-12-03 11:43] Arikae commented on #379
I'm not really sure where this is leading.
Isn't this kind of what we already do within ContextPatternTransformation?
I'm not really convinced that we can make this more elegant at the moment

[2018-12-03 11:50] Arikae commented on #378
I'm not familiar with IProgressMonitor but wouldn't it suffice to create a Logger that is accessible and configurable through our IbexOptions?
Then our control algorithm should almost everywhere have access to the Logger.

Currently, we can only control the logging via DEBUG, INFO, ERROR etc. but we could introduce a Logging Configuration class with different pre defined standard configurations to

[2018-12-03 11:52] Arikae commented on #368
Not sure about this.
Does this means that the event is directly delegated to the green interpreter?
Wouldn't that bypass the whole repair process?

[2018-12-03 13:20] anthonyanjorin commented on #379
The idea is to make some strategies perhaps optional or composable and let end users tweak this (e.g. for debuggability, for scalability, for more detailed infos from the pattern matcher, ...).

More elegant would be a general interface representing such decomposition strategies.

[2018-12-03 13:25] anthonyanjorin commented on #378
The idea here is to generalise from logging.  We plan to eventually build a debugger and the same interface could be used here to allow user inspection (and perhaps even interaction).  The interface should define interesting points in the consistency management process where we interact with a monitor and exchange some information.

[2018-12-03 13:29] anthonyanjorin commented on #368
If the green interpreter gets a match m that creates an edge between two objects, then it knows already that this match is invalid and can be discarded (no double edges in emf).  The green interpreter could therefore invalidate the match directly.

At the moment we don’t do this: we forget the match is invalid and do nothing.  Later on the match could be tried again, will be inspected and identifi

[2018-12-10 20:16] adrianmoeller opened #384 "TGG Editor: Multiple attribute assignments for the same attribute"
Currently in TGG editor it is possible to use inplace attribute expressions to make multiple assignments or contraints (equal operator) for the same attribute of a node (see examples below).
As far as I know there is no use case for this, since refinement doesn't seem to work for inplace attribute expressions and only causes these double assignments/constraints when flattened.

Examples:
[code]

[2018-12-11 06:07] anthonyanjorin commented on #384
Yes, this should ideally be prevented with a validation rule.  Thanks!

[2018-12-16 08:58] Arikae commented on #376
The first point makes sense, isn't that something where we could possible reuse some code/logic from our pattern optimization?

About the second point, we already do this with the current filter NAC generation or do you mean more general cases?

[2018-12-16 09:46] #261 closed, assigned to LegionaryCohort

[2018-12-16 10:24] anthonyanjorin commented on #376
Can't remember ---  but when optimising we found some examples where the generated filter NACs were a bit paranoid (and could be omitted).

After refactoring and cleaning up the code, I guess one would have to go through our TGGs and inspect randomly the generated filter NACs.

[2019-02-28 20:24] FabianMarcoBauer opened #387 "Code generation for graph transformation on metamodels with basePackage"
When creating metamodels it is possible to define a basePackage, in which the generated model code will be located. When creating graph constraints for a metamodel with a base package, the imports in the generated code will ignore the base package and point to the wrong location.

Example (see handbook for metamodeling under "Can I have dots in an EPackage name (e.g. org.moflon.example.sokoban)?")

[2019-02-28 20:54] FabianMarcoBauer opened #388 "Attributes of refined objects in graph transformations not accessible"
When creating conditions for attributes in patterns that refine another pattern, only the attributes of the object type specified in the parent pattern can be used for comparisons.

Example:
1. In the SokobanLanguage, add an attribute to Blocks:
[code]
2. In the BoardPatterns.gt, add a pattern containing two Boulders:
[code]
3. In the BoardPatterns.gt, add a second pattern refining the previously

[2019-03-06 11:03] anthonyanjorin commented on #387
Adjusting the generated imports is possible using our moflon.properties file.  Please refer to Q4 in the appendix of the handbook on unidirectional model transformation.

Note, however, that we do not support every option in the GenModel.  There are just way too many.

Please try it out and close this issue if that fixes the problem.

[2019-03-06 11:11] anthonyanjorin commented on #388
Thanks @FabianMarcoBauer   This is probably a bug in the scope provider for gt files.  I guess the candidates for referenced attributes do not take refinements into account.

[2019-03-06 11:54] FabianMarcoBauer commented on #387
Setting the import mapping in the moflon.properties file solved this issue. Than you very much.

[2019-03-06 11:54] #387 closed, assigned to FabianMarcoBauer

[2019-03-26 15:04] FabianMarcoBauer opened #389 "RuntimeException while collecting Reference Additions"
I am using emoflon-ibex-democles to subscribe to appearing and disappearing matches for some patterns. After some calculations with theses matches, I am executing graph transformations implemented with emoflon-tie-gt to modify the model.
During one of the modifications, while collecting notifications, a RuntimeException is thrown:
[code]
I was able to find this issue: https://github.com/eMoflon/em

[2019-04-09 11:29] anthonyanjorin commented on #389
Hi Fabian,

thanks for pinging me.

I haven't tried out your project yet but I'll get to it.

In the mean time...  This might be caused by how you manipulate your model.  In general it is a good idea to add created objects to a resource *as soon as possible* after they are created.  If possible before they are further manipulated in any way.

Can you check if that helps?

Cheers,
Tony

[2019-04-09 12:01] FabianMarcoBauer commented on #389
Hello Tony,

this was indeed the source of the exception. The code generate by eMoflon-tie-gt first created the object, modifyed its attributes and references and only then added the object to the resource. If I change the generated code to first add the new object to the resource, the exception does not occur.

It looks like the delayed adding of the new object is only done for LinkToLinkEmbeddin

[2019-04-09 12:01] anthonyanjorin commented on #389
Ok - perfect!  Can you fix this in tie-gt?  I'm afraid I'm not the right person for this.

BTW:  The explanation for the exception is that events might get lost if created objects are not in the model containment hierarchy.

[2019-04-09 12:02] anthonyanjorin commented on #389
@Arikae Perhaps you know who to assign this to?  Who is maintaining tie-gt?

[2019-05-02 22:31] adrianmoeller commented on #384
Added some validation rules for this.

[2019-05-02 22:31] #384 closed, assigned to nobody

[2019-06-17 09:59] xmichael91 opened #394 "Guidelines for using ibex in the production"
Hello. Can someone provide some guidelines about integration emoflon-ibex in real-word Eclipse-based application?
So far I've followed handbooks and existing guidelines, made a workspace where I experiment with the engine and rules. Now I'm trying to integrate Emoflon TGG transformations engine into my existing application based on Eclipse RCP to be able to perform programmatical bidirectional tra

[2019-06-18 13:43] anthonyanjorin commented on #394
Hi @xmichael91,

as you have already guessed, the whole point in establishing "runtime" plugins is to minimise dependencies for the end user.

I don't understand why these plugins have *editor and *ui dependencies as you mentioned and this shouldn't be the case really :)

Let me take a look and get back to you as soon as possible.

Cheers and thanks,
Tony

[2019-06-18 13:47] #377 closed, assigned to NilsWeidmann, anthonyanjorin

[2019-06-18 13:47] #353 closed, assigned to anthonyanjorin

[2019-06-18 18:46] anthonyanjorin commented on #394
Hi @xmichael91,

how exactly are you going about extracting all the dependencies you require to establish a run-alone solution?

If I use Eclipse to export an executable jar and provide INITIAL_FWD_App as a launch configuration, I get a fairly reasonable compilation of dependencies (that does not include plantuml or any *ui stuff).  This is how I create stand-alone jars when I have to (e.g., for i

[2019-06-20 16:12] xmichael91 commented on #394
Hi, @anthonyanjorin ,
thanks for your answers! I've got your idea. I've removed emoflon plugins from the Require-Bundle list of my plugin, and instead placed the minimal set of dependency libraries directly in the lib/ directory of my plugin and added all that jars to the classpath (Bundle-ClassPath). This way the application started fine. It included only the "runtime" dependencies, so this is an

[2019-06-20 16:12] #394 closed, assigned to anthonyanjorin

[2019-06-20 16:30] anthonyanjorin commented on #394
Hi @xmichael91,

depending on your meta-model and patterns (simple, small patterns tend to be particularly nasty), you might really be getting millions of matches.  Especially due to symmetry or other surprising ways of matching your patterns.

Something I should say:  IBeX is optimised for incremental applications, where you maintain a model and constantly make numerous small changes.  It is not

[2019-09-23 10:13] #378 closed, assigned to nobody

[2020-01-10 10:38] Arikae opened #403 "Generate code for LocalCC"
CC now uses consistency pattern in order to be able to operate local CC
In the future only local CC should match consistency matches

[2020-05-01 10:52] Arikae commented on #389
Closing this since tie-gt is no longer maintained and HiPE fixes these issues

[2020-05-01 10:52] #389 closed, assigned to Arikae

[2020-07-14 10:25] adrianmoeller opened #406 "Expecting bidirectional relations in meta model specifications"
In order to properly delete elements using the `IbexRedInterpreter`, meta models should only be designed with bidirectional relations.
I propose to implement a warning mechanism to inform the user, if a meta model contains unidirectional relations.

[2021-04-20 08:15] webminz opened #407 "eMoflon:IBEX does not work on Eclipse 2021-06 M1"
It looks like eMoflon:IBEX on the current Eclipse version broken due to a dependency problem towards apache.commons.StringUtil

![Screenshot 2021-04-20 at 09 34 22](https://user-images.githubusercontent.com/1609552/115361352-ca043c00-a1c0-11eb-8133-598e13003b0a.png)

![Screenshot 2021-04-20 at 09 38 09](https://user-images.githubusercontent.com/1609552/115361397-d6889480-a1c0-11eb-8d99-c9ec6cd97a5

[2021-05-04 09:42] Arikae commented on #407
Hi,

sorry for the late reply but the Github notification was somehow moved to my spam folder.
I am currently running Eclipse Modelling Tools 2021-03-R and cannot reproduce this problem.
In general, we only switch to the newest version of Eclipse when it reaches R, which is why we did not yet test eMoflon with 2021-06.

I just deployed eMoflon to our updatesite: https://emoflon.org/emoflon-ibex-up

[2021-05-24 10:13] webminz commented on #407
Hi! Thank you very much for your reply @Arikae! And sorry for the late reply from my side now!

I now managed to make the plugin work properly by deleting the ~/.p2 directory on my machine, installing a fresh eclipse via the installer and then installing the plugin via the updateside you provided.

Moreover, the issue with "corrupted" .project files could be resolved by deleting the ~/git/emoflon-

[2021-05-24 14:20] anthonyanjorin commented on #407
Hi @webminz

this all sounds rather frustrating :(

Can I help you in a more direct manner?  I assume you’re trying to compare your approach/tool to a TGG-based solution.  The paper you mentioned freezes all solutions as complete jars so you don’t have to fiddle around with the latest tools and can reproduce all solutions with acceptable effort.  As research prototypes TGG tools tend to change rap

[2021-05-25 10:07] Arikae commented on #407
Hi,

we encountered the same error last week but still have to figure out why this is happening.
Meanwhile, you could try using HiPE instead of Democles for which this error does not occur.
Currently, eMoflon supports three incremental pattern matching engine (Democles, HiPE and Viatra).
The implementation with HiPE is currently the most stable one.
To activate HiPE, simply exchange the registrati

[2021-05-26 10:57] webminz commented on #407
Hi Tony and Lars!

Thank you very much for your help!

@anthonyanjorin
Ah I see! The [repo](https://github.com/eMoflon/benchmarx) contains compiled Jar files, which seem to work, which is great.
Currently, I want to set up a performance comparison between emoflon, epsilon and other tools concerning _consistency checking_, i.e. no synchronisation yet.

It appears that the class `SynchronizationHelp

[2021-05-26 18:56] anthonyanjorin commented on #407
Hi Patrick,

A comparison of consistency checkers sounds very interesting.  To be honest I’m not aware of many tools that really support that.  The bx benchmark is only on forward and backward synchronisation.

It’s been a while since I used IBeX but Nils (@NilsWeidmann) just wrote a tool paper comparing IBeX and eNeo for a set of examples including consistency checking.  He could provide you with

[2021-05-28 09:23] NilsWeidmann commented on #407
Hi Patrick,

eMoflon::Neo (https://github.com/eMoflon/emoflon-neo) supports model transformation and consistency checking in a similar way as IBeX does, (concurrent) sync is also supported but the handling is different. FamiliesToPersons is already included in the examples collection, feel free to have a look at it! The tool paper mentioned by Tony will appear in the pre-proceedings of a workshop

[2021-05-31 13:50] webminz commented on #407
Hi Nils,

Thank you very much! I just had a look at the repo (https://github.com/eMoflon/emoflon-neo/tree/master/examples) and found the Families2Person case.

And I also managed to install the emoflon-neo plugin :-) (Maybe you should consider to add a comment to the [installation guideline](https://github.com/eMoflon/emoflon-neo-updatesite) stating one has to install his eclipse with a JDK >= 13

[2021-06-01 20:44] NilsWeidmann commented on #407
Hi Patrick,

first of all thank you very much for the hint that we have to update the minimum Java version, and sorry that you had to spend time on finding this out.

I could not reproduce your error, unfortunately, when starting with a fresh Eclipse and workspace and following the installation instructions. Which operating system are you using? However, I found some other bugs in the snapshot whi

[2021-06-03 15:01] webminz commented on #407
Hi Nils,

Thank you for your help!

So, I came one step further: I just imported the projects containing the _emoflon-neo_ source code using the `projectSetDev` working set. After building them and then deleting those projects from the workspaces again, the problem with the unmapped path towards `platform:/plugin/org.emoflon.neo.neocore/model/AttributeConstraintsLibrary.msl` is gone, which good bu

[2021-06-04 18:24] NilsWeidmann commented on #407
Hi Patrick,

sorry, the Gurobi part must have got lost when restructuring the installation instructions, it is mentioned only for IBeX (https://github.com/eMoflon/emoflon-ibex-updatesite - Step 6). For academic users, Gurobi is free, and according to our experience the best performing solver.

Regarding your observation with the different code bases: It is possible that the update site for install

[2021-06-14 14:20] webminz commented on #407
Hi Nils!

Sorry for the late reply, the last week has been busy with a lot of things.
I just checked the installation description about Gurobi and it says that it must be exactly version *7.0.2*.
However, the oldest version I could find on the Gurobi download page is *8.0.0*. Hence, Is it also possible to use a newer version?

Cheers
Patrick

[2021-06-14 15:25] NilsWeidmann commented on #407
Hi Patrick,

thank you for the hint, this is also outdated. I use Gurobi 9.1.1, version 8.1.1 should also work. For Neo4j, however, you should stick to the given version because the API was changed completely some months ago.

Best Regards,
Nils

[2021-06-26 10:34] webminz commented on #407
Hi again,

Alright, we are getting closer. Now, everything compiles and runs.
However, it looks like that the consistency check does now work properly with imported Model (via Neo4jImporter().importEMFModels()). It works fine though with Model generated by the GEN application.

[code]

The above listing shows the output when running the consistency checker on a small example:

Families.xmi
[code]

[2021-07-08 10:38] NilsWeidmann commented on #407
Hi Patrick!

Sorry for the late reply, it was hard for me to find time and patience for debugging last week. I could only reproduce the problem when I did not start the clean/build after changing the attribute condition. Could you please try that once again?

Apart from that, I spotted an error in the Console log: Probably eNeo will still tell you that the models are inconsistent because it counts

[2021-07-16 10:21] maxkratz opened #408 "GT attribute expressions with different data types"
Currently, it is not possible to either:
- compare, e.g., an `ELong` variable with an `EInt`
- compare said `ELong` variable with an `ELong` constant.

In my example, `substrateNode.residualCpu` is an `ELong` and I want to check if it is greater than 0:
![Screenshot_2021-07-16_12-09-42](https://user-images.githubusercontent.com/20956405/125932051-adbd1948-0b20-4a0f-8c1e-4e478a60a4ae.png)

Possible

[2021-07-24 18:18] webminz commented on #407
Hi Nils, No worries and thank you again very much for your efforts!

Indeed, after some clean->build cycles and using the new CC-app you provided it now works correctly, which is great =)

[code]

Now there is one *final* obstacle:

The Application works flawlessly when running it from the Eclipse run configuration "Run as -> Java Application". But now I want to get rid of the eclipse environment

[2021-07-25 06:40] anthonyanjorin commented on #407
Hi @webminz

as eNeo code already runs in “stand-alone” mode this should be possible.  Your problems can’t be directly related to Eclipse and are probably more due to the different structure in a jar.  You could of course invoke the code from a script by setting the classpath and using “java …” (just like Eclipse does) without a jar.

My guess is you can use a jar for all the Java code and depende

[2021-07-25 09:22] webminz commented on #407
Hi Tony,

Yes of course! You are right (was certainly a bit late yesterday 😅)! There is no difference between exporting a jar or just using the Project binaries on the classpath (so the export as runnable JAR was definitely unnecessary 🙈).
I also troubleshot the problem:

It is *important* to run `java` from the Project directory, i.e. having `$> pwd` set to `${worskpaceLoc}/FamiliesToPersons` in

[2021-07-25 11:42] NilsWeidmann commented on #407
Hi @webminz,

Thank you for intensively dealing with our tool! It's great to get such feedback from researchers outside our development team. Including all your feedback for the installation instructions and documentation will improve its quality by a lot :-)

Best regards,
Nils

[2021-07-25 19:34] #407 closed, assigned to Arikae

[2022-09-09 14:03] maxkratz opened #411 "eMoflon-specific buttons in Eclipse IDE (deployed version) are tiny"
One of the recent changes (probably on the UI?) broke the eMoflon-specific buttons in the Eclipse IDE. This only affects deployed versions of eMoflon (installed via the update site).

**Current state:**
![emoflon-icon-size-error](https://user-images.githubusercontent.com/20956405/189366585-80cf0311-da2f-447d-af2e-f508072c24a6.png)

**Latest release:**
![emoflon-icon-size-normal](https://user-image

[2022-09-15 12:25] maxkratz opened #412 "Eclipse 2022-09 breaks all JUnit 5 (Jupiter) dependencies"
I had problems building the dev and test workspace after updating the Eclipse build pipeline to Eclipse 2022-09 (https://github.com/eMoflon/emoflon-eclipse-build/actions/runs/3044227006).

1. Problem: Apache did change some of the package naming in `org.apache.commons` (again). Okay, I can fix that.
2. Problem: All JUnit-related plug-ins were unavailable. This issue addresses that.

---

Some deta

[2022-09-15 12:42] maxkratz commented on #412
It seems that `org.apiguardian` (v1.1.2) was also renamed to `org.apiguardian.api`.

[2022-09-15 14:27] maxkratz commented on #412
TODO for me: We have to release another snapshot of eMoflon::IBeX after merging all PRs above.

[2022-09-16 09:41] maxkratz commented on #412
**Update** (all local on my machine after checking out the PRs above):
- Dev WS builds without errors
- Test WS builds & executes without errors
- Deployment of eMoflon::IBeX in a new Eclipse seems to work (apart from https://github.com/eMoflon/emoflon-ibex/issues/411)
  - Test WS builds & executes without errors in a deployed Eclipse environment

[2022-10-11 15:43] #412 closed, assigned to maxkratz